@model CampaignViewModel
<div class="row">
    <div id="col-main" class="cold-md-12">
        <div class="col-md-3"><h2>@Model.Name</h2></div>
        <div class="col-md-9 share-buttons">
            <img src="~/images/share-shareaholic.png" alt="Share via Shareaholic" />
            <img src="~/images/share-twitter.png" alt="Share via Twitter" />
            <img src="~/images/share-fb.png" alt="Share via Facebook" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="date-address">@Model.StartDate.ToString("D") - @Model.EndDate.ToString("D")</p>
    </div>
</div>
<div class="row">
    <div id="col-main" class="col-md-12">
        @Model.Description
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="campaign-sponsor">
            <strong><a asp-controller="Tenant" asp-action="ShowTenant" asp-route-id="@Model.ManagingTenantId">@Model.ManagingTenantName</a></strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>
            Activities for this campaign
            <button type="button" class="btn" data-bind="css: { active: activities.showOld }, click: activities.showOld.toggle">
                <i class="fa" data-bind="css: { 'fa-square-o': !activities.showOld(), 'fa-check-square-o': activities.showOld }"></i>
                Show Old
            </button>
        </h3>
        <span data-bind="visible: !activities.filtered().length">
            No current activities. Maybe look at an old activity.
        </span>
        <!-- ko foreach: activities.filtered -->
            <div class="activity-list">
                <a data-bind="attr: { href: '/Activity/' + Id }, text: Title"></a>
                <span class="text-small" data-bind="text: Description"></span>
            </div>
        <!-- /ko -->
    </div>
</div>

@section scripts {
    <script>
        var modelActivities = @Json.Serialize(Model.Activities);
    </script>
    <script type="text/javascript" src="~/js/ko.filterableList.js"></script>
    <script type="text/javascript" src="~/js/campaign.js"></script>

}
