@using AllReady.ViewModels.Task
@model VolunteerTaskViewModel

<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-8">
                <h2>@Model.Name</h2>
                @if (@Model.StartDateTime != null)
                {
                    <p class="date-address">@Model.StartDateTime.ToString("F") - @Model.EndDateTime.ToString("F")</p>
                }
                <p>@Model.Description</p>
                @if (Model.AssignedVolunteers != null && Model.AssignedVolunteers.Count > 0)
                {
                    <h3>Volunteers </h3>
                    <table class="table table-condensed table-responsive table-bordered table-hover table-striped">
                        <tr>
                            <th title="Email of volunteer">Name</th>
                            <th title="Volunteer's status for task'">Status</th>
                            <th title="Description of Volunteer's status for task'">Status Description</th>
                        </tr>
                        @foreach (var v in Model.AssignedVolunteers)
                        {
                            <tr>
                                <td>@v.UserName</td>
                                <td>@v.Status</td>
                                <td>@v.StatusDescription</td>
                            </tr>
                        }                       
                    </table>
                }
            </div>
      
            <div class="col-sm-4">
                @if (Model.IsUserSignedUpForVolunteerTask)
                {
                    <div class="volunteered">
                        <center>
                            Thanks for volunteering!
                            <br />
                            <h2><a asp-controller="TaskApi" asp-action="WebRemoveSignup" asp-route-taskId="@Model.Id" class="btn btn-volunteer">Unenroll</a></h2>
                        </center>
                    </div>

                }
                else
                {
                    <h2><a asp-controller="TaskApi" asp-action="ShowSignup" asp-route-taskId="@Model.Id" class="btn btn-volunteer">Volunteer</a></h2>
                }
                </div>
            </div>
    </div>
</div>