@model IEnumerable<AllReady.ViewModels.Task.VolunteerTaskViewModel>

<h1>Tasks</h1>

<table class="table table-condensed table-responsive table-bordered table-hover table-striped">
    <tr>
        <th><span title="Organization Name">Organization</span></th>
        <th><span title="Campaign Name">Campaign</span></th>
        <th><span title="Event Name">Event</span></th>
        <th><span title="Task Name">Task</span></th>
        <th><span title="When the task starts">Start Time</span></th>
        <th><span title="When the task ends">End Time</span></th>
        <th><span title="Description of the task">Description</span></th>
    </tr>

    @foreach (var task in Model)
    {
        <tr>
            <td><a asp-controller="Organization" asp-action="ShowOrganization" asp-route-id="@task.OrganizationId">@task.OrganizationName</a> </td>
            <td><a asp-controller="Campaign" asp-action="Details" asp-route-id="@task.CampaignId">@task.CampaignName</a></td>
            <td><a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@task.EventId">@task.EventName</a></td>
            <td><a asp-controller="TaskApi" asp-action="ShowTask" asp-route-id="@task.Id">@task.Name</a></td>
            <td>@task.StartDateTime</td>
            <td>@task.EndDateTime</td>
            <td>@task.Description</td>
        </tr>
    }
</table>