@model AllReady.ViewModels.Task.MyVolunteerTasksResultsScreenViewModel

@{
    ViewBag.Title = @Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <h3>My Events</h3>
    </div>
</div>

<table class="table table-condensed table-responsive table-bordered table-hover table-striped">
    <tr>
        <th><span title="Name of the event">Event</span></th>
        <th><span title="Name of the task">Name</span></th>
        <th><span title="When the task starts">Start Time</span></th>
        <th><span title="When the task ends">End Time</span></th>
        <th><span title="Description of the task">Description</span></th>
    </tr>

    @foreach (var task in Model.Items)
    {
        <tr>
            <td><a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@task.EventId">@task.EventName</a></td>
            <td><a asp-controller="TaskApi" asp-action="ShowTask" asp-route-id="@task.Id">@task.Name</a></td>
            <td>@task.StartDateTime</td>
            <td>@task.EndDateTime</td>
            <td>@task.Description</td>
        </tr>
    }
</table>