@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.Import.IndexViewModel

@{
    ViewData["Title"] = "Import Data";
}

@if (Model.ImportSuccess)
{
    <div class="alert alert-success">
        <strong>Success!</strong> Your file has been uploaded.
    </div>
}

@if (Model.ImportErrors.Count > 0)
{
    <div class="alert alert-danger">
        There were errors encountered during the import.
        <p></p>

        @foreach (var importError in Model.ImportErrors)
        {
            <div>- @importError</div>
        }
    </div>
}

@if (Model.ValidationErrors.Count > 0)
{
    <div class="alert alert-danger">
        There were validation errors encountered during the import. Please fix the errors in the csv you're trying upload, and try again.
        <ul>
        @foreach (var validationError in Model.ValidationErrors)
        {
            <li>@string.Format($"row : {validationError.ProviderRequestId}")</li>
            <ul>
                @foreach (var error in validationError.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        }
        </ul>
    </div>
}

<h1>Import Request Data from Red Cross</h1>

<p>
    This import allows you to import request data from the American Red
    Cross. Each row of data will become a request in the system. Requests
    can only be imported one time; each row will be processed independently
    and errors will be displayed on the next page. Any errant row will
    not be imported, thus it is safe to reimport your file after updating
    any incorrect rows.
</p>
<p>
    Each line in the file must contain the following header, with the data 
    on separate lines in CSV format:
</p>

<pre>
    "id","name","address","city","state","postalcode","phone","email","date created","region","latitude","longitude"
</pre>

<form method="post" asp-action="Index" asp-controller="Import" asp-area="@AreaNames.Admin" enctype="multipart/form-data">
    @for (var i = 0; i < Model.Events.Count; i++)
    {
        @Html.HiddenFor(model => model.Events[i].Value)
        @Html.HiddenFor(model => model.Events[i].Text)
    }

    Select an Event: 
    <select asp-for="EventId" asp-items="@Model.Events" class="form-control">
        <option value="0">-- Select --</option>
    </select>

    <p></p>

    <label class="btn btn-default btn-file">
        Browse <input type="file" name="file" style="display: none;" onchange="$('#upload-file-info').html($(this).val());">
    </label>
    <span class='label label-info label-lg' id="upload-file-info"></span>
    <p></p>
    <input class="btn btn-success" type="submit" value="Upload"/>
</form>