@using System.Linq
@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.VolunteerTask.DeleteViewModel
@{  ViewData["Title"] = Model.Title; }

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-area="@AreaNames.Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.CampaignId" asp-area="@AreaNames.Admin">@Model.CampaignName</a></li>
            <li><a asp-controller="Event" asp-action="Details" asp-route-id="@Model.EventId" asp-area="@AreaNames.Admin">@Model.EventName</a></li>
            <li><a asp-controller="VolunteerTask" asp-action="Details" asp-route-eventId="@Model.EventId" asp-route-id="@Model.Id" asp-area="@AreaNames.Admin">@Model.Name</a></li>
            <li>Delete</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to delete this?</h3>
        <h4>@ViewData["Title"]</h4>

    </div>
</div>

<div class="row">
    <form asp-controller="VolunteerTask" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="EventId" />
        <input type="hidden" asp-for="UserIsOrgAdmin" />
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartDateTime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartDateTime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EndDateTime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndDateTime)
                </dd>
                @if (Model.Attachments.Any())
                {
                    <dt>
                        @Html.DisplayNameFor(model => Model.Attachments)
                    </dt>
                    <dd>
                        <ul>
                            @foreach (var attachment in Model.Attachments)
                            {
                                <li><a href="@attachment.Url">@attachment.Name</a>: @attachment.Description</li>
                            }
                        </ul>
                    </dd>
                }
            </dl>

            <div class="form-actions no-color">
                <button type="submit" class="btn btn-default">Delete</button>
                <a asp-area="@AreaNames.Admin" asp-controller="VolunteerTask" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
</div>