@model AllReady.Areas.Admin.Models.ActivityDetailViewModel
@{ ViewBag.Title = Model.Name; }
<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-route-area="Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.CampaignId" asp-route-area="Admin">@Model.CampaignName</a></li>
            <li>@Model.Name</li>
        </ol>
    </div>
</div>
<div class="row">
    @if (!String.IsNullOrEmpty(Model.ImageUrl))
    {
        <div data-bind="if: @Model.ImageUrl" class="col-sm-1">
            <h2></h2>
            <img src="@Model.ImageUrl" class="img-responsive" />
        </div>
    }
    <div class="col-md-10">
        <h2>@Model.Name <a asp-controller="Activity" asp-action="Edit" asp-route-id="@Model.Id" class="btn"><i class="glyphicon glyphicon-edit"></i></a> <a asp-controller="Activity" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></h2>
            <p>@Model.Description</p>
            <p><strong>Duration: </strong> @Model.StartDateTime.ToString("d") - @Model.EndDateTime.ToString("d")</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Volunteers @if (Model.NumberOfVolunteersRequired > 0) { <span class="text-muted">(@Model.NumberOfVolunteersRequired Required)</span> } </h3>
        @if (Model.Volunteers == null || Model.Volunteers.Count == 0)
        {
            <text>No volunteers yet. </text>
        }
        else
        {
            <ul>
            @foreach (var volunteer in Model.Volunteers)
            {
                <li><strong>@volunteer</strong></li>
            }
            </ul>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Tasks</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-controller="Task" asp-action="Create" asp-route-activityId="@Model.Id" class="btn">Create Task</a>
    </div>
</div>

@Html.Partial("~/Areas/Admin/Views/Task/_List.cshtml", Model.Tasks)

@section scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script src="~/js/activityDetails.js"></script>
}
