@model AllReady.Models.Activity

@{  ViewData["Title"] = "Edit activity: " + Model.Name; }

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CampaignId, "Campaign", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CampaignId, (IEnumerable<SelectListItem>)ViewData["Campaigns"], htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CampaignId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TenantId, "Tenant", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TenantId, (IEnumerable<SelectListItem>)ViewData["Tenants"], htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDateTimeUtc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDateTimeUtc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDateTimeUtc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDateTimeUtc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDateTimeUtc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDateTimeUtc, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RequiredSkills, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div data-bind="foreach: requiredSkills">
                    <select class="form-control" data-bind="attr: { name: 'RequiredSkills[' + $index() + '].SkillId' }, options: $root.availableSkills, optionsText: 'Name', optionsValue: 'Id', value: Id"></select>
                </div>
                @Html.ValidationMessageFor(model => model.RequiredSkills, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn">Save</button>
            </div>
        </div>
    </div>
                    }

<h2>Image for @Model.Name</h2>
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img src="@Model.ImageUrl" class="img-thumbnail img-responsive col-md-4" />
            <form action="~/Admin/Activity/PostActivityFile" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" id="activiteyId" value="@Model.Id" />
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" name="file" id="newFile" class="control-label col-md-4" />
                        <button type="submit" class="btn col-md-1">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index", "Activity", null, new { @class = "btn" })
</div>

@section scripts {
    <script type="text/javascript">
        (function (ko, $, requiredSkills, availableSkills) {

            function AdminActivityViewModel(requiredSkills, availableSkills) {
                this.requiredSkills = ko.observableArray(requiredSkills);
                this.availableSkills = ko.observableArray(availableSkills);
            }

            ko.applyBindings(new AdminActivityViewModel(requiredSkills, availableSkills));
        })(ko, $, @Json.Serialize(Model.RequiredSkills.Select(rs => rs.Skill)), @Json.Serialize(ViewData["Skills"]));
    </script>
}

