@using System.Threading.Tasks
@using AllReady.Areas.Admin.Models
@model CampaignDetailModel

<div class="panel panel-success campaign-impact">
    <div class="panel-heading">@Html.Raw(Model.CampaignImpact.TextualImpactGoal) </div>
    <div class="panel-body">
        @if (Model.CampaignImpact.ImpactType == ImpactType.Numeric)
            {
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="@Model.CampaignImpact.PercentComplete"
                     aria-valuemin="@Model.CampaignImpact.CurrentImpactLevel"
                     aria-valuemax="@Model.CampaignImpact.NumericImpactGoal"
                     style="width: @Model.CampaignImpact.PercentComplete%;">
                    @if (Model.CampaignImpact.PercentComplete > 30)
                    {
                        <text>@Model.CampaignImpact.CurrentImpactLevel / @Model.CampaignImpact.NumericImpactGoal</text>
                    }
                    else
                    {
                        <text>
                            @Model.CampaignImpact.PercentComplete
                        </text>
                    }
                </div>
            </div>
        }
    </div>
</div>
