@model AllReady.Areas.Admin.ViewModels.CampaignSummaryViewModel
@{ ViewData["Title"] = "Delete campaign " + Model.Name; }
<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-route-area="Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.Id" asp-route-area="Admin">@Model.Name</a></li>
            <li>Delete</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>@ViewData["Title"]</h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TenantId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TenantName)
                </dd>
            </dl>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" value="Delete" class="btn">Delete campaign</button> 
                    <a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.Id" asp-route-area="Admin" class="btn">Cancel</a>
                </div>
            }
        </div>

    </div>
</div>

