@using AllReady.Constants
@using AllReady.Security
@model AllReady.Areas.Admin.ViewModels.Campaign.CampaignSummaryViewModel
@inject AllReady.Services.ISelectListService SelectListService

@{
    var isEdit = Model != null && Model.Id > 0;
    string actionTitle;
    string cancelUrl;
    if (isEdit)
    {
        ViewData["Title"] = "Edit Campaign";
        actionTitle = "Save";
        cancelUrl = Url.Action("Details", "Campaign", new { area = AreaNames.Admin, id = Model.Id });
    }
    else
    {
        ViewData["Title"] = "Create Campaign";
        actionTitle = "Create";
        cancelUrl = Url.Action("Index", "Campaign", new { area = AreaNames.Admin });
    }
}

@section styles{
    @if (isEdit)
    {
        <link href="~/css/Admin/Campaign/Edit.css" rel="stylesheet" />
    }
}

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-area="@AreaNames.Admin">Campaigns</a></li>
            @if (isEdit)
            {
                <li><a href="@cancelUrl">@Model.Name</a></li>
                <li>Edit</li>
            }
            else
            {
                <li>Create New Campaign</li>
            }

        </ol>

    </div>
</div>

<h2>@ViewData["Title"]</h2>



<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#publish-tab">Publish/Save</a></li>
    <li><a data-toggle="tab" href="#preview-tab">Preview</a></li>
</ul>

<div class="tab-content">

    <div id="publish-tab" class="tab-pane fade in active">

        <form asp-controller="Campaign" asp-area="@AreaNames.Admin" asp-action="Edit" id="campaign-form" method="post" enctype="multipart/form-data">

            <div class="form-horizontal">

                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="OrganizationName" id="organization-name-input" value="@Model.OrganizationName" />

                @if (isEdit)
                {
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImageUrl" id="image-url-input" />
                }
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Headline" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Headline" class="form-control" />
                        <span asp-validation-for="Headline" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2">
                        <label asp-for="FullDescription"></label>
                        <p>
                            <cite>This formatted text will be used as your landing page content</cite>
                        </p>
                    </div>
                    <div class="col-md-10">
                        <textarea asp-for="FullDescription" class="form-control wysiwyg" rows="10"></textarea>
                        <span asp-validation-for="FullDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2">
                        <label asp-for="ExternalUrl"></label>
                        <p>
                            <cite>Optional link to an outside page</cite>
                        </p>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="ExternalUrl" class="form-control" />
                        <span asp-validation-for="ExternalUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2">
                        <label asp-for="ExternalUrlText"></label>
                        <p>
                            <cite>This is the text that will be displayed with the link to the outside page</cite>
                        </p>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="ExternalUrlText" class="form-control"/>
                        <span asp-validation-for="ExternalUrlText" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TimeZoneId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="TimeZoneId" asp-items="SelectListService.GetTimeZones()" class="form-control"></select>
                        <span asp-validation-for="TimeZoneId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="StartDate" class="form-control datepicker" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="text" asp-for="EndDate" class="form-control datepicker" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OrganizationId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @if (User.IsUserType(UserType.SiteAdmin) || User.IsUserType(UserType.OrgAdmin))
                        {
                            @Html.DropDownListFor(model => model.OrganizationId, SelectListService.GetOrganizations(User), htmlAttributes: new { @class = "form-control" })
                        }
                        else
                        {
                            <input type="hidden" asp-for="OrganizationId" value="@Model.OrganizationId" />
                            <p class="form-control-static">@Model.OrganizationName</p>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Featured" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="checkbox" asp-for="Featured" />
                        <span asp-validation-for="Featured" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Published" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="checkbox" asp-for="Published" />
                        <span asp-validation-for="Published" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-horizontal">
                    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-4">

                                <div class="alert campaign-image-status-alert" style="display: none;">

                                </div>

                                <div class="panel panel-default" id="image-panel-container">
                                    <div class="panel-heading">
                                        <label asp-for="ImageUrl"></label>
                                    </div>
                                    <div class="panel-body" id="image-panel-body">
                                        <div id="image-wrapper">
                                            <button class="btn btn-danger" id="delete-image">Delete Image</button>
                                            <img src="@Model.ImageUrl" class="img-responsive center-block" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="FileUpload" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="file" asp-for="FileUpload" class="control-label col-md-4" />
                                    @*<button type="submit" class="btn col-md-1">Upload</button>*@
                                    <span asp-validation-for="FileUpload" class="text-danger col-md-12"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <button type="button"
                        id="btnGetContactInfo"
                        class="btn btn-info"
                        data-toggle="modal"
                        data-target="#confirmContactModal"
                        title="Information copied from selected organisation.">
                    Copy Location and Primary Contact from Organization
                </button>
                <h3>Location</h3>
                @Html.EditorFor(m => m.Location, new { RequiredAddressOne = false })
                <h3>Primary Contact</h3>
                <div class="form-group">
                    <label asp-for="PrimaryContactFirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PrimaryContactFirstName" class="form-control" />
                        <span asp-validation-for="PrimaryContactFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PrimaryContactLastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PrimaryContactLastName" class="form-control" />
                        <span asp-validation-for="PrimaryContactLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PrimaryContactPhoneNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PrimaryContactPhoneNumber" class="form-control" />
                        <span asp-validation-for="PrimaryContactPhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PrimaryContactEmail" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PrimaryContactEmail" class="form-control" />
                        <span asp-validation-for="PrimaryContactEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" value="@actionTitle" class="btn btn-default">@actionTitle</button>
                    <a href="@cancelUrl" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>

    </div>

    <div id="preview-tab" class="tab-pane fade col-md-8">

        <div id="preview-table-container"></div>

    </div>

</div>





<div class="modal fade" id="confirmContactModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Confirm Contact Details</h4>
            </div>
            <div class="modal-body">
                <p>
                    This will copy in the contact details that you have stored
                    at the organization levels. If you have contact information
                    saved here now, it will be overwritten.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="confirmOverwriteContact" type="button" class="btn btn-primary">Overwrite existing details</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/campaignadmin.js"></script>


    <script src="~/lib/systemjs/dist/system.js"></script>

    <script>
        SystemJS.config({
            baseURL: '/js/Admin/Campaign/Edit',
            defaultJSExtensions: true
        });

        SystemJS.import('Main');
    </script>


}
