@model AllReady.Areas.Admin.ViewModels.Campaign.CampaignSummaryViewModel
@inject AllReady.Services.ISelectListService SelectListService

@{
    var isEdit = Model != null && Model.Id > 0;
    string actionTitle;
    string cancelUrl;
    if (isEdit)
    {
        ViewData["Title"] = $"Edit Campaign";
        actionTitle = "Save";
        cancelUrl = Url.Action("Details", "Campaign", new { area = "Admin", id = Model.Id });
    }
    else
    {
        ViewData["Title"] = "Create Campaign";
        actionTitle = "Create";
        cancelUrl = Url.Action("Index", "Campaign", new { area = "Admin" });
    }
}
<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-area="Admin">Campaigns</a></li>
            @if (isEdit)
            {
                <li><a href="@cancelUrl">@Model.Name</a></li>
                <li>Edit</li>
            }
            else
            {
                <li>Create New Campaign</li>
            }

        </ol>

    </div>
</div>

<h2>@ViewData["Title"]</h2>

<form asp-controller="Campaign" asp-area="Admin" asp-action="Edit" method="post" enctype="multipart/form-data">

    <button type="button"
            id="btnGetContactInfo"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#confirmContactModal"
            title="Copy Contact Information from Organization">
        Copy Contact Info
    </button>


    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (isEdit)
            {
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageUrl" />
        }
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Headline" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <label asp-for="FullDescription"></label>
                <p><cite>This formatted text will be used as your landing page content</cite></p>
            </div>
            <div class="col-md-10">
                <textarea asp-for="FullDescription" class="form-control wysiwyg" rows="6"></textarea>
                <span asp-validation-for="FullDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                <label asp-for="ExternalUrl"></label>
                <p><cite>Optional link to an outside page</cite></p>
            </div>
            <div class="col-md-10">
                <input asp-for="ExternalUrl" class="form-control" />
                <span asp-validation-for="ExternalUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExternalUrlText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExternalUrlText" class="form-control" />
                <span asp-validation-for="ExternalUrlText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeZoneId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TimeZoneId" asp-items="SelectListService.GetTimeZones()" class="form-control"></select>
                <span asp-validation-for="TimeZoneId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartDate" class="form-control datepicker" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control datepicker" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrganizationId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OrganizationId, SelectListService.GetOrganizations(), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Featured" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="checkbox" asp-for="Featured" />
                <span asp-validation-for="Featured" class="text-danger"></span>
            </div>
        </div>
        <div class="form-horizontal">
            @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
            {
                <div class="form-group">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-10">
                        <img src="@Model.ImageUrl" class="img-thumbnail img-responsive col-md-4" />
                    </div>
                </div>
            }
            <div class="form-group">
                <label asp-for="FileUpload" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="file" asp-for="FileUpload" class="control-label col-md-4" />
                            @*<button type="submit" class="btn col-md-1">Upload</button>*@
                            <span asp-validation-for="FileUpload" class="text-danger col-md-12"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Location</h3>
        @Html.EditorFor(m => m.Location)
        <h3>Primary Contact</h3>
        <div class="form-group">
            <label asp-for="PrimaryContactFirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryContactFirstName" class="form-control" />
                <span asp-validation-for="PrimaryContactFirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryContactLastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryContactLastName" class="form-control" />
                <span asp-validation-for="PrimaryContactLastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryContactPhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryContactPhoneNumber" class="form-control" />
                <span asp-validation-for="PrimaryContactPhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryContactEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryContactEmail" class="form-control" />
                <span asp-validation-for="PrimaryContactEmail" class="text-danger"></span>
            </div>
        </div>
		
        @if (isEdit)
        {
            <input type="hidden" asp-for="CampaignImpact.Id" />
            <h3>Campaign Impact Goals</h3>
            <div class="row">
                <div class="col-md-5">
                    <div class="alert alert-warning">
                        <p><strong>Define your campaign's impact in a way that will inspire people to help you reach those goals.</strong></p>
                        <p>
                            If you choose <em>numeric</em> as an impact type, then a "thermometer" will be displayed on the landing page
                            showing the current progress of the campaign as you update the current impact level.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">Display Impact Goal</label>
                    <div class="form-horizontal">
                        <input type="checkbox" asp-for="CampaignImpact.Display" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Impact Type</label>
                    <div class="form-horizontal">
                        @Html.DropDownListFor(model => model.CampaignImpact.ImpactType, SelectListService.GetCampaignImpactTypes(), htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Campaign Impact Goal</label>
                    <div class="form-horizontal">
                        <input type="text" asp-for="CampaignImpact.TextualImpactGoal" class="form-control" />
                    </div>
                </div>
                <div id="numericImpactSection">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Current Impact Level</label>
                        <div class="form-horizontal">
                            <input type="text" asp-for="CampaignImpact.CurrentImpactLevel" class="form-control" />
                            <span class="help-block">
                                <em>
                                    This value is the current number of x achieved to reach the Numeric Impact Goal value.<br />
                                    Ideally less than or equal to Numeric Impact Goal, but there may be certain scenarios where it's greater.
                                </em>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Numeric Impact Goal</label>
                        <div class="form-horizontal">
                            <input type="text" asp-for="CampaignImpact.NumericImpactGoal" class="form-control" />
                            <span class="help-block">
                                <em>This value is the number of x to reach the goal.</em>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" value="@actionTitle" class="btn btn-default">@actionTitle</button>
            <a href="@cancelUrl" class="btn btn-default">Cancel</a>
        </div>
    </div>

</form>

<div class="modal fade" id="confirmContactModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Confirm Contact Details</h4>
            </div>
            <div class="modal-body">
                <p>
                    This will copy in the contact details that you have stored
                    at the organization levels. If you have contact information
                    saved here now, it will be overwritten.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="confirmOverwriteContact" type="button" class="btn btn-primary">Overwrite existing details</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/campaignadmin.js"></script>
}
