@model IEnumerable<Campaign>
@{ ViewData["Title"] = "Campaigns - Admin"; }

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Create new", "Create", "Campaign", null, new { @class = "btn" })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagingTenant.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDateTimeUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDateTimeUtc)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Campaign", new { id = item.Id })                        
                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <br/><span class="text-muted">@item.Description</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManagingTenant.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateTimeUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDateTimeUtc)
                    </td>
                    <td>
                        <a asp-controller="Campaign" asp-action="Edit" asp-route-id="@item.Id" class="btn"><i class="glyphicon glyphicon-edit"></i></a>
                        <a asp-controller="Campaign" asp-action="Delete" asp-route-area="Admin" asp-route-id="@item.Id" class="btn"><i class="glyphicon glyphicon-trash"></i></a>
                        @Html.ActionLink("Activities", "Index", "Activity", new {area ="Admin", campaignId = item.Id }, new { @class = "btn" })
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
