@model IEnumerable<AllReady.Areas.Admin.Models.CampaignSummaryModel>
@{ ViewData["Title"] = "Campaigns - Admin"; }

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li>Campaigns</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-controller="Campaign" asp-action="Create" asp-route-area="Admin" class="btn btn-default">Create New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationName)
                </th>
                <th>
                    Dates
                </th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <a asp-controller="Campaign" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default" title="Edit"><i class="fa fa-edit"></i></a>
                    </td>
                    <td>
                        <a asp-controller="Campaign" asp-action="Details" asp-route-area="Admin" asp-route-id="@item.Id">@item.Name</a>
                        @if (item.Featured)
                        {
                            <i class="fa fa-star star-highlight" aria-hidden="true"></i>
                        }
                        @if (item.Locked)
                        {
                            <span title="This campaign is locked" class="fa fa-exclamation-triangle text-warning"></span>
                        }
                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <br/><span class="text-muted">@item.Description</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td>
                        @if (item.StartDate != DateTime.MinValue)
                        {
                            @:@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)                            
                        }
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
