@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.Campaign.PublishViewModel
@{ ViewData["Title"] = Model.Title; }
<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-area="@AreaNames.Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.Id" asp-area="@AreaNames.Admin">@Model.Name</a></li>
            <li>Delete</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to publish this campaign?</h3>
        <div>
            <h4>@ViewData["Title"]</h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrganizationId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrganizationName)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="UserIsOrgAdmin" />
                <div class="form-actions no-color">
                    <button type="submit" value="Publish" class="btn btn-default">Publish campaign</button> 
                    <a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.Id" asp-area="@AreaNames.Admin" class="btn btn-default">Cancel</a>
                </div>
            }
        </div>
    </div>
</div>