@using AllReady.Constants
@model AllReady.Areas.Admin.Features.Events.DeleteViewModel

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-area="@AreaNames.Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.CampaignId" asp-area="@AreaNames.Admin">@Model.CampaignName</a></li>
            <li><a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id" asp-area="@AreaNames.Admin">@Model.Name</a></li>
            <li>Delete</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Delete event @Model.Name</h3>
        <p>Are you sure you want to delete this?</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDateTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDateTime)
            </dd>
        </dl>

        <form asp-controller="Event" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-actions no-color">
                <button type="submit" class="btn btn-default">Delete</button>
                <a class="btn btn-default" asp-controller="Event" asp-action="Details" asp-area="@AreaNames.Admin" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>
