@model AllReady.Areas.Admin.Models.TenantEditModel

@{
    ViewData["Data"] = "Edit tenant " + Model.Name;
}
<div class="row">
    <div class="col-md-12" ">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
@*<form asp-controller="Tenant" asp-route-area="Admin" asp-action="Edit" method="post">*@
@using (Html.BeginForm())
            {
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-horizontal col-lg-6 pull-left">
            <h4>Organization</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @*<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />*@

            <div class="form-group">
                @Html.LabelFor(model => model.LogoUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LogoUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LogoUrl, "", new { @class = "text-danger" })
                </div>

                @*<label asp-for="LogoUrl" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LogoUrl" class="form-control" />
                        <span asp-validation-for="LogoUrl" class="text-danger"></span>
                    </div>*@

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                @*<label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WebUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WebUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WebUrl, "", new { @class = "text-danger" })
                </div>

                @*<label asp-for="WebUrl" class="col-md-2 control-label">Web Url</label>
                    <div class="col-md-10">
                        <input asp-for="WebUrl" class="form-control" />
                        <span asp-validation-for="WebUrl" class="text-danger"></span>
                    </div>*@
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>

                @*<label asp-for="Location" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>*@
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PrimaryContactFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimaryContactFirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimaryContactFirstName, "", new { @class = "text-danger" })
                </div>
                @*<label asp-for="PrimaryContactFirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PrimaryContactFirstName" class="form-control" />
                        <span asp-validation-for="PrimaryContactFirstName" class="text-danger"></span>
                    </div>*@

            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.PrimaryContactLastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimaryContactLastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimaryContactLastName, "", new { @class = "text-danger" })
                </div>

                @*<label asp-for="PrimaryContactLastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PrimaryContactLastName" class="form-control" />
                    <span asp-validation-for="PrimaryContactLastName" class="text-danger"></span>
                </div>*@
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.PrimaryContactPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimaryContactPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimaryContactPhoneNumber, "", new { @class = "text-danger" })
                </div>
                @*<label asp-for="PrimaryContactPhoneNumber" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PrimaryContactPhoneNumber" class="form-control" />
                    <span asp-validation-for="PrimaryContactPhoneNumber" class="text-danger"></span>
                </div>*@
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PrimaryContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimaryContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimaryContactEmail, "", new { @class = "text-danger" })
                </div>
                @*<label asp-for="PrimaryContactEmail" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PrimaryContactEmail" class="form-control" />
                    <span asp-validation-for="PrimaryContactEmail" class="text-danger"></span>
                </div>*@
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </div>
    </div>
        @*</form>*@
}
