@inject AllReady.Services.ISelectListService SelectListService

@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.Site.DeleteUserViewModel
@{
    ViewData["Title"] = $"Delete User - {Model.UserName}";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-danger">
    <p>
        <b>Warning:</b> Deleting a user may have severe consequences and will
        permanently remove them from the system. There may be factors of their
        account - such as pre-existing data - that prevents them from being
        removed. This is an irrevocable action and user data deleted cannot be
        restored.
    </p>
</div>

<form method="post" action="ConfirmDeleteUser" asp-antiforgery="true" >
    <div class="form-horizontal">
        <hr />

        <input asp-for="UserId" type="hidden" />
        <div class="form-group">
            <label asp-for="UserName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <p class="form-control-static">
                    @Model.UserName 
                    @if (Model.IsSiteAdmin)
                    {
                        <span class="label label-info"><span class="fa fa-user-secret"></span> (Site Admin)</span>
                    }
                </p>
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.OrganizationName))
        {
            <div class="form-group">
                <label asp-for="OrganizationName" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <p class="form-control-static">
                        @Model.OrganizationName
                        @if (Model.IsOrganizationAdmin)
                        {
                            <span class="label label-info"><span class="fa fa-users"></span> (Organization Admin)</span>
                        }
                    </p>
                </div>
            </div>
        }
        @if (Model.Campaigns.Count() > 0)
        {
            <div class="form-group">
                <label asp-for="Campaigns" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @foreach (var campaign in Model.Campaigns)
                    {
                        <p class="form-control-static">@campaign</p>
                    }
                </div>
            </div>
        }
        @if (Model.Events.Count() > 0)
        {
            <div class="form-group">
                <label asp-for="Events" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @foreach (var allReadyEvent in Model.Events)
                    {
                        <p class="form-control-static">@allReadyEvent</p>
                    }
                </div>
            </div>
        }
        @if (Model.VolunteerTasks.Count() > 0)
        {
            <div class="form-group">
                <label asp-for="VolunteerTasks" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @foreach (var volunteerTask in Model.VolunteerTasks)
                    {
                        <p class="form-control-static">@volunteerTask</p>
                    }
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-danger"><span class="fa fa-remove"></span> Delete @Model.UserName</button>
                <a asp-area="@AreaNames.Admin" asp-controller="Site" asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </div>
</form>
@section scripts {

}
