@using AllReady.Constants
@using AllReady.Security
@model AllReady.Areas.Admin.ViewModels.Site.IndexViewModel
@{
    ViewData["Title"] = "Site Admin";
}

<h2>User Admin</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table class="table table-responsive table-condensed">
                <tr>
                    <th class="col-md-3 col-sm-4 col-lg-2">
                        Username
                    </th>
                    <th class="col-md-7 col-sm-8 col-lg-6">
                        Actions
                    </th>
                </tr>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            <a asp-action="EditUser" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id">@user.UserName</a>
                            @if (user.UserName == User.Identity.Name)
                            {
                                <span class="label label-info"><span class="fa fa-user"></span> (You)</span>
                            }
                            @if (user.IsUserType(UserType.SiteAdmin))
                            {
                                <span class="label label-warning"><span class="fa fa-user-secret"></span> Site</span>
                            }
                            @if (user.IsUserType(UserType.OrgAdmin))
                            {
                                <span class="label label-default"><span class="fa fa-users"></span> Org</span>
                            }
                            @if (user.IsUserType(UserType.ApiAccess))
                            {
                                <span class="label label-default"><span class="fa fa-exchange"></span> API</span>
                            }
                            @if (!user.EmailConfirmed)
                            {
                                <span class="fa fa-exclamation-triangle text-warning" title="Email Address not confirmed"></span>
                            }
                        </td>
                        <td>
                            <div class="btn-toolbar">
                                <a data-toggle="modal" data-target="#options-modal-@user.Id" href="#" class="btn btn-success">Edit</a>
                                <div class="modal fade" id="options-modal-@user.Id" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4>Edit - @user.UserName</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-xs-12 btn-group-vertical">
                                                        <a data-toggle="tooltip" data-placement="top" title="Manage Skills" asp-action="EditUser" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-success">Manage Skills</a>
                                                        <a data-toggle="tooltip" data-placement="top" title="Reset Password" asp-action="ResetPassword" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-success">Reset Password</a>
                                                        @if (!user.IsUserType(UserType.SiteAdmin) && !user.IsUserType(UserType.OrgAdmin))
                                                        {
                                                            <a data-toggle="tooltip" data-placement="top" title="Make Site Admin" asp-action="AssignSiteAdmin" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-success">Make Site Admin</a>
                                                            <a data-toggle="tooltip" data-placement="top" title="Make Org Admin" asp-action="AssignOrganizationAdmin" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-success">Make Org Admin</a>
                                                        }
                                                        else if (user.IsUserType(UserType.SiteAdmin))
                                                        {
                                                            <a data-toggle="tooltip" data-placement="top" title="Revoke Site Admin" asp-action="RevokeSiteAdmin" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-success">Revoke Site Admin</a>
                                                        }
                                                        else if (user.IsUserType(UserType.OrgAdmin))
                                                        {
                                                            <a data-toggle="tooltip" data-placement="top" title="Revoke Org Admin" asp-action="RevokeOrganizationAdmin" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-success">Revoke Org Admin</a>
                                                        }
                                                        @if (!user.IsUserType(UserType.ApiAccess))
                                                        {
                                                            <a data-toggle="tooltip" data-placement="top" title="Allow API Access" asp-action="AssignApiAccessRole" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-success">Allow API Access</a>
                                                        }
                                                        else
                                                        {
                                                            <a data-toggle="tooltip" data-placement="top" title="Manage Keys" asp-action="ManageApiKeys" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-warning">Manage Keys</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a data-toggle="tooltip" data-placement="top" title="Delete" asp-action="DeleteUser" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-danger">Delete</a>
                                @if (user.LockoutEnabled && user.LockoutEnd > DateTime.Now)
                                {
                                    <a data-toggle="tooltip" data-placement="top" title="Unlock" asp-action="UnlockUser" asp-controller="Site" asp-area="@AreaNames.Admin" asp-route-userId="@user.Id" class="btn btn-info">Unlock</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ container: 'body' });
        });
    </script>
}
