@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using AllReady.ViewModels.Account
@inject SignInManager<ApplicationUser> SignInManager
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-6">
        <section>
            <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                <h4>Create a new account.</h4>
                <hr />
                <p>When choosing your password, please ensure it is a minimum of 10 characters in length and contains at least one number.<br /></p>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6">
        <section>
            <h4>Register with these services.</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-default btn-block" name="provider" value="@provider.DisplayName" title="Log in using your @provider.DisplayName account">
                                                <span class="fa fa-2x fa-@((provider.DisplayName.ToLower() == "microsoft") ? "windows" : provider.DisplayName.ToLower())"></span><span class="btn-authenticator-txt">@provider.DisplayName</span>
                                            </button><br /><br />
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>

</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
