@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.ManagerInvite.EventManagerInviteViewModel

@{
    ViewData["Title"] = "Send Event Manager Invite";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-area="@AreaNames.Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.CampaignId" asp-area="@AreaNames.Admin">@Model.CampaignName</a></li>
            <li><a asp-controller="Event" asp-action="Details" asp-route-id="@Model.EventId" asp-area="@AreaNames.Admin">@Model.EventName</a></li>
            <li>@ViewData["Title"]</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <h2>@ViewData["Title"]</h2>

        <p>Fields marked with an asterisk (*) are required.</p>

        <form id="sendForm" class="form-horizontal" asp-action="Send" asp-controller="EventManagerInvite" asp-area="@AreaNames.Admin" method="post" role="form">
            <input type="hidden" asp-for="@Model.EventName" />
            <input type="hidden" asp-for="@Model.CampaignId" />
            <input type="hidden" asp-for="@Model.CampaignName" />

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InviteeEmailAddress" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="InviteeEmailAddress" class="form-control" />
                    <span asp-validation-for="InviteeEmailAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CustomMessage" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="CustomMessage" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="CustomMessage" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Send</button>
                    <a asp-controller="Event" asp-area="Admin" asp-action="Details" asp-route-id="@Model.EventId" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>

    </div>
</div>
