@model IEnumerable<Skill>
@{ ViewData["Title"] = "Skills"; }

<div class="row">
    <div class="cold-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="cold-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HierarchicalName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Skill", new { id = item.Id }, new { @class = "btn" })
                    @Html.ActionLink("Delete", "Delete", "Skill", new { id = item.Id }, new { @class = "btn" })
                </td>
            </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Create New", "Create", "Skill", null, new { @class = "btn" })
    </div>
</div>

