@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.Itinerary.VolunteerTaskSignupSummaryViewModel

<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to remove this team member?</h3>
        <h4>@Model.Title</h4>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VolunteerName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VolunteerEmail)
            </dd>
        </dl>

        <form asp-area="@AreaNames.Admin" asp-controller="Itinerary" asp-action="RemoveTeamMember" asp-route-itineraryId="@ViewContext.RouteData.Values["itineraryId"]?.ToString()" asp-route-taskSignupId="@Model.VolunteerTaskSignupId">
            <input type="hidden" asp-for="@Model.VolunteerTaskSignupId" />
            <input type="hidden" asp-for="@Model.ItineraryId" />
            <input type="hidden" asp-for="@Model.UserIsOrgAdmin" />
            <div class="form-actions no-color">
                <button type="submit" class="btn btn-primary">Delete</button>
                <a asp-controller="Itinerary" asp-action="Details" asp-area="@AreaNames.Admin" asp-route-id="@ViewContext.RouteData.Values["itineraryId"]?.ToString()" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>