@model AllReady.Areas.Admin.Models.ItineraryModels.ItineraryDetailsModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-route-area="Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.CampaignId" asp-route-area="Admin">@Model.CampaignName</a></li>
            <li><a asp-controller="Event" asp-action="Details" asp-route-area="Admin" asp-route-id="@Model.EventId">@Model.EventName</a></li>
            <li>@Model.Name</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>
            @Model.Name
            @*<a asp-controller="Itinerary" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
            <a asp-controller="Itinerary" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>*@
        </h2>
        <p>Scheduled for @Model.DisplayDate</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>
            Team
        </h3>
    </div>
</div>


@if (Model.HasPotentialTeamMembers)
{
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Itinerary" asp-action="AddTeamMember" method="post">
                <input type="hidden" asp-for="Id" />
                Add team member:
                <select asp-for="SelectedTeamMember"
                        asp-items="Model.PotentialTeamMembers" required></select>
                <button type="submit" class="btn btn-default submit-form">Add</button>
            </form>
        </div>
    </div>
}
else
{
    <p>There are no potential team members to add to this itinerary</p>
}

<div class="row">
    <div class="col-md-8">
        @if (Model.TeamMembers.Any())
        {
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Assigned Task
                    </th>
                    <th></th>
                </tr>
                @foreach (var teamMember in Model.TeamMembers)
                {
                    <tr>
                        <td>
                            <p>@teamMember.DisplayName</p>
                        </td>
                        <td>
                            <p>@teamMember.VolunteerEmail</p>
                        </td>
                        <td>
                            <p>@teamMember.TaskName</p>
                        </td>
                        <td>
                            <a data-toggle="tooltip" data-placement="top" title="Remove" asp-action="ConfirmRemoveTeamMember" asp-controller="Itinerary" asp-route-area="Admin" asp-route-itineraryId="@Model.Id" asp-route-taskSignupId="@teamMember.TaskSignupId" class="btn btn-danger"><span class="fa fa-remove"></span></a>
                        </td>
                    </tr>
                }
            </table>

        }
        else
        {
            <br />
            <p>There are currently no assigned team members for this itinerary</p>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>
            Requests
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-action="SelectRequests" asp-controller="Itinerary" asp-route-area="Admin" class="btn btn-default">Add Requests</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (Model.Requests.Any())
        {
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var request in Model.Requests)
                {
                    <tr>
                        <td>
                            <p>@request.Name</p>
                        </td>
                        <td>
                            <p>@request.Status</p>
                        </td>
                        <td>
                            <p>@request.Address</p>
                        </td>
                        <td>
                            <p>@request.City</p>
                        </td>
                        <td>                            
                            <form asp-action="MoveRequestUp" asp-controller="Itinerary" asp-route-itineraryId="@Model.Id" asp-route-requestId="@request.Id"><button type="submit" class="btn btn-default submit-form"><span class="fa fa-arrow-up"></span></button></form>
                            </td>
                        <td>
                            <form asp-action="MoveRequestDown" asp-controller="Itinerary" asp-route-itineraryId="@Model.Id" asp-route-requestId="@request.Id"><button type="submit" class="btn btn-default submit-form"><span class="fa fa-arrow-down"></span></button></form>
                        </td>
                        <td>
                            <a data-toggle="tooltip" data-placement="top" title="Remove" asp-action="ConfirmRemoveRequest" asp-controller="Itinerary" asp-route-area="Admin" asp-route-itineraryId="@Model.Id" asp-route-requestId="@request.Id" class="btn btn-danger"><span class="fa fa-remove"></span></a>
                        </td>
                    </tr> 
                }
            </table>
        }
        else
        {
            <br />
            <p>There are currently no assigned requests for this itinerary</p>
        }
    </div>
</div>

