@using System.Threading.Tasks
@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.Itinerary.ItineraryEditViewModel

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-area="@AreaNames.Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.CampaignId" asp-area="@AreaNames.Admin">@Model.CampaignName</a></li>
            <li><a asp-controller="Event" asp-action="Details" asp-route-id="@Model.EventId" asp-area="@AreaNames.Admin">@Model.EventName</a></li>
            <li><a asp-controller="Itinerary" asp-action="Details" asp-route-id="@Model.Id" asp-area="@AreaNames.Admin">@Model.Name</a></li>
            <li>Edit</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Edit Itinerary - @Model.Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form asp-controller="Itinerary" asp-action="Edit" asp-area="@AreaNames.Admin" method="post">

            <div class="form-horizontal row">
                <hr />
                <div class="form-horizontal col-lg-6 pull-left">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Route Optimization</h3>
            <p>Supply a start / end address for the itinerary so that requests can be organized by an optimal route and direction information can be generated.</p>
            <hr/>
            <h4>Start Address</h4>
            <div class="form-horizontal row">
                <div class="form-horizontal col-lg-7 pull-left">
                    <div class="form-group">
                        <label asp-for="StartAddress1" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="StartAddress1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartAddress2" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="StartAddress2" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartCity" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="StartCity" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartState" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="StartState" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartPostalCode" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="StartPostalCode" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartCountry" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="StartCountry" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <h4>End Address</h4>
            <div class="checkbox">
                <label asp-for="UseStartAddressAsEndAddress" class="control-label"></label>
                <input asp-for="UseStartAddressAsEndAddress" class="same-start-and-end" />
            </div>
            <div class="form-horizontal row" id="end-address">
                <div class="form-horizontal col-lg-7 pull-left">
                    <div class="form-group">
                        <label asp-for="EndAddress1" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="EndAddress1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndAddress2" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="EndAddress2" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndCity" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="EndCity" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndState" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="EndState" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndPostalCode" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="EndPostalCode" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndCountry" class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="EndCountry" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" value="Save" class="btn btn-default submit-form">Save</button>
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var endAddress = document.getElementById('end-address');
        var checkBox = document.getElementsByClassName('same-start-and-end');

        checkBox[0].onchange = function () {
            endAddress.style.display = this.checked ? 'none' : 'block';
        };
        checkBox[0].onchange();
    </script>
}
