@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.Itinerary.SelectItineraryRequestsViewModel

@{
    ViewData["Title"] = "Select Requests";
}

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Campaign" asp-action="Index" asp-area="@AreaNames.Admin">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.CampaignId" asp-area="@AreaNames.Admin">@Model.CampaignName</a></li>
            <li><a asp-controller="Event" asp-action="Details" asp-area="@AreaNames.Admin" asp-route-id="@Model.EventId">@Model.EventName</a></li>
            <li><a asp-action="Details" asp-controller="Itinerary" asp-area="@AreaNames.Admin">@Model.ItineraryName</a></li>
            <li>Select Requests</li>
        </ol>
    </div>
</div>
<div id="selectRequestsView" class="row">
    <div class="col-xs-12 col-md-6">
        <div>
            <h2>Select Requests</h2>
            <p>Please choose the requests you would like to add to your itinerary.</p>
        </div>
        <div class="request-filter-section">
            <h3>Filter results</h3>
            <p>Please enter a keyword on which to filter the requests.</p>
            <form asp-action="SelectRequests" asp-controller="Itinerary" asp-area="@AreaNames.Admin">
                <input asp-for="KeywordsFilter" />
                <button type="submit" class="btn btn-default submit-form">Filter</button>
            </form>
        </div>
        <div>
            <form asp-area="@AreaNames.Admin" asp-controller="Itinerary" asp-action="AddRequests">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary submit-form">Add Selected Requests</button>
                        <a asp-action="Details" asp-controller="Itinerary" asp-area="@AreaNames.Admin" class="btn btn-default">Cancel</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @if (Model.Requests.Count > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Request Name</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Postcode</th>
                                        <th>Date Added</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: requests">
                                    <tr>
                                        <td><input type="checkbox" name="selectedRequests" data-bind="value: Id, checked: selected" /></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Address"></td>
                                        <td data-bind="text: City"></td>
                                        <td data-bind="text: Postcode"></td>
                                        <td data-bind="text: DateAddedString"></td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <br />
                            <p>There are no new requests which can be added</p>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3>Map</h3>
        <div id="bingMap"></div>
        <div data-bind="visible: spacialMathReady && drawingToolsReady" style="display: none;">
            <button type="button" class="btn btn-default" data-bind="click: doLasso, visible: canLasso">Draw Selection</button>
            <button type="button" class="btn btn-primary" data-bind="click: completeLasso, visible: isDrawing">Done</button>
            <button type="button" class="btn btn-danger" data-bind="click: cancelLasso, visible: isDrawing">Cancel</button>
            <div class="alert alert-info" data-bind="visible: isDrawing">
                Click on the map to select points to surround your route.  Double-click to complete the shape.
                You can move selected points after completing the shape.  Select "Done" to make the selection.
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var modelData = @Json.Serialize(new {requests = Model.Requests});
    </script>
    <script src="~/js/itinerarySelectRequests.js"></script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=initializeMap'></script>
}
