@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.Organization.OrganizationEditViewModel

@{
    var isEdit = Model != null && Model.Id > 0;
    string actionTitle;
    string cancelUrl;
    if (isEdit)
    {
        ViewData["Title"] = $"Edit Organization {Model.Name}";
        actionTitle = "Save";
        cancelUrl = Url.Action("Details", "Organization", new { area = AreaNames.Admin, id = Model.Id });
    }
    else
    {
        ViewData["Title"] = "Create Organization";
        actionTitle = "Create";
        cancelUrl = Url.Action("Index", "Organization", new { area = AreaNames.Admin });
    }
}

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Organization" asp-action="Index" asp-area="@AreaNames.Admin">Organizations</a></li>
            @if (isEdit)
            {
                <li><a href="@cancelUrl">@Model.Name</a></li>
                <li>Edit</li>
            }
            else
            {
                <li>Create New Organization</li>
            }

        </ol>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<form asp-controller="Organization" asp-area="@AreaNames.Admin" asp-action="Edit" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (isEdit)
    {
        <input type="hidden" asp-for="Id" />
}

        <h3>Organization Information</h3>
        <p>Fields marked with * are required</p>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LogoUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LogoUrl" class="form-control" />
                <span asp-validation-for="LogoUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WebUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WebUrl" class="form-control" />
                <span asp-validation-for="WebUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Summary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Summary" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label asp-for="Description"></label>
                <p><cite>This formatted text will be used as the organization's description</cite></p>
            </div>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control wysiwyg" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Privacy Policy</label>
            <div class="col-md-10">
                <a id="show-pp-url" class="btn btn-default">Link to an external policy</a>
                <a id="show-pp-text" class="btn btn-default">Enter policy text</a>
                <div class="col-md">
                    <span asp-validation-for="PrivacyPolicyUrl" class="text-danger"></span>
                    <span asp-validation-for="PrivacyPolicy" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="pp-url" class="form-group">
            <label asp-for="PrivacyPolicyUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrivacyPolicyUrl" class="form-control" />
            </div>
        </div>
        <div id="pp-text" class="form-group">
            <div class="control-label col-md-2">
                <label asp-for="PrivacyPolicy"></label>
                <p><cite>This formatted text will be used as the organization's privacy policy content</cite></p>
            </div>
            <div class="col-md-10">
                <textarea asp-for="PrivacyPolicy" class="form-control wysiwyg" rows="6"></textarea>
            </div>
        </div>

        <h3>Primary Location</h3>

        @Html.EditorFor(m => m.Location, new { RequiredAddressOne = false })

        <h3>Primary Contact</h3>

        <div class="form-group">
            <label asp-for="PrimaryContactFirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryContactFirstName" class="form-control" />
                <span asp-validation-for="PrimaryContactFirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryContactLastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryContactLastName" class="form-control" />
                <span asp-validation-for="PrimaryContactLastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryContactPhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryContactPhoneNumber" class="form-control" />
                <span asp-validation-for="PrimaryContactPhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryContactEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryContactEmail" class="form-control" />
                <span asp-validation-for="PrimaryContactEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="@actionTitle" class="btn btn-default">@actionTitle</button>
                <a href="@cancelUrl" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_OrganisationEditPartial"); }
}
