@model MyEventsListerViewModel
@{
    ViewData["Title"] = "Volunteer Dashboard";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        @if (Model.CurrentEvents.Count() > 0)
        {
            <div class="row myevents">
                <div class="col-md-12">

                    <h3>Current Events:</h3>
                @foreach (var campaignEvent in Model.CurrentEvents)
                {
                        <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@campaignEvent.EventId">
                            <div class="row myevents-block">                             
                                <div class="col-md-8 col-md-push-1">                                
                                    <h4>@campaignEvent.EventName</h4>
                                    <h5>@string.Format("{0:g}", @campaignEvent.StartDate) to @string.Format("{0:g}", @campaignEvent.EndDate) (@campaignEvent.TimeZone)</h5>
                                    <h6>@campaignEvent.Tasks.Count() Tasks</h6>                              
                                </div>
                            </div>
                        </a>
                    }

                </div>
            </div>
        }
        @if (Model.FutureEvents.Count() > 0)
        {
            <div class="row myevents">
                <div class="col-md-12">
                    <h3>Future Events:</h3>
                    @foreach (var campaignEvent in Model.FutureEvents)
                {
                        <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@campaignEvent.EventId">
                            <div class="row myevents-block">
                                <div class="col-md-8 col-md-push-1">
                                    <h4>@campaignEvent.EventName</h4>
                                    <h5>@string.Format("{0:g}", @campaignEvent.StartDate) to @string.Format("{0:g}", @campaignEvent.EndDate) (@campaignEvent.TimeZone)</h5>
                                    <h6>@campaignEvent.Tasks.Count() Tasks</h6>
                                </div>
                            </div>
                        </a>
                    }
                </div>


            </div>
        }
        @if (Model.PastEvents.Count() > 0)
        {
            <div class="row myevents">
                <div class="col-md-12">
                    <h3>Past Events:</h3>
                    @foreach (var campaignEvent in Model.PastEvents)
                {
                        <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@campaignEvent.EventId">
                            <div class="row myevents-block">
                                <div class="col-md-8 col-md-push-1">
                                    <h4>@campaignEvent.EventName</h4>
                                    <h5>@string.Format("{0:g}", @campaignEvent.StartDate) to @string.Format("{0:g}", @campaignEvent.EndDate) (@campaignEvent.TimeZone)</h5>
                                    <h6>@campaignEvent.Tasks.Count() Tasks</h6>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>

        }
    </div>
    <div class="col-md-6">
        <div id='calendar'></div>
    </div>
</div>
@section scripts{


    <script src="~/js/dashboard.js" type="text/javascript"></script>
}