@model MyEventsListerViewModel
@{
    ViewData["Title"] = "Volunteer Dashboard";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

@if (Model.CurrentEvents.Count() > 0)
{
    <div class="row myevents">
        <div class="col-md-6">
            <h3>Current Events:</h3>
            @foreach (var campaignEvent in Model.CurrentEvents)
            {
                <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@campaignEvent.EventId">
                    <div class="row myevents-block">
                        <div class="col-md-3">
                            <p>Event runs from @string.Format("{0:g}", @campaignEvent.StartDate) to @string.Format("{0:g}", @campaignEvent.EndDate) (@campaignEvent.TimeZone)</p>
                        </div>
                        <div class="col-md-8 col-md-push-1">
                            <h5>@campaignEvent.Campaign by @campaignEvent.Organization</h5>
                            <h4>@campaignEvent.EventName</h4>
                            <h6>My assigned tasks:</h6>
                            <ul>
                                @foreach (var task in campaignEvent.Tasks)
                                {
                                    <li>@task.Name - @task.FormattedDate</li>
                                }
                            </ul>

                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}

@if (Model.FutureEvents.Count() > 0)
{
    <div class="row myevents">
        <div class="col-md-6">
            <h3>Future Events:</h3>
            @foreach (var campaignEvent in Model.FutureEvents)
                {
                <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@campaignEvent.EventId">
                    <div class="row myevents-block">
                        <div class="col-md-3">
                            <p>Event runs from @string.Format("{0:g}", @campaignEvent.StartDate) to @string.Format("{0:g}", @campaignEvent.EndDate) (@campaignEvent.TimeZone)</p>
                        </div>
                        <div class="col-md-8 col-md-push-1">
                            <h5>@campaignEvent.Campaign by @campaignEvent.Organization</h5>
                            <h4>@campaignEvent.EventName</h4>
                            <h6>My assigned tasks:</h6>
                            <ul>
                                @foreach (var task in campaignEvent.Tasks)
                                {
                                    <li>@task.Name - @task.FormattedDate</li>
                                }
                            </ul>

                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}

@if (Model.PastEvents.Count() > 0)
{
    <div class="row myevents">
        <div class="col-md-6">
            <h3>Past Events:</h3>
            @foreach (var campaignEvent in Model.PastEvents)
                {
                <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@campaignEvent.EventId">
                    <div class="row myevents-block">
                        <div class="col-md-3">
                            <p>Event runs from @string.Format("{0:g}", @campaignEvent.StartDate) to @string.Format("{0:g}", @campaignEvent.EndDate) (@campaignEvent.TimeZone)</p>
                        </div>
                        <div class="col-md-8 col-md-push-1">
                            <h5>@campaignEvent.Campaign by @campaignEvent.Organization</h5>
                            <h4>@campaignEvent.EventName</h4>
                            <h6>My assigned tasks:</h6>
                            <ul>
                                @foreach (var task in campaignEvent.Tasks)
                                {
                                    <li>@task.Name - @task.FormattedDate</li>
                                }
                            </ul>

                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}
