@using AllReady.Security
@using Microsoft.AspNetCore.Mvc.Rendering
@model AllReady.ViewModels.Event.EventViewModel

@{
    ViewBag.Title = $"{Model.Title}";
    var userTimeZoneId = User.GetTimeZoneId();
}

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-controller="Organization" asp-action="Index">Organizations</a></li>
            <li><a asp-controller="Organization" asp-action="ShowOrganization" asp-route-id="@Model.OrganizationId">@Model.OrganizationName</a></li>
            <li><a asp-controller="Campaign" asp-action="Index">Campaigns</a></li>
            <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.CampaignId">@Model.CampaignName</a></li>
            <li>@Model.Title</li>
        </ol>
    </div>
</div>

<div id="MainView">
    @Html.Partial("_Alert")

    <!-- Body -->
    <div id="EventDetail" class="row">
        <!-- Column 1 -->
        <div class="col-sm-8">
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <div class="col-sm-2">
                        <h2></h2>
                        <img src="@Model.ImageUrl" class="img-responsive" />
                    </div>
                }
                <div class="@(string.IsNullOrEmpty(Model.ImageUrl) ? "col-sm-12" : "col-sm-10" )">
                    <h2>@Model.Title</h2>
                    @if (!string.IsNullOrEmpty(Model.Headline))
                    {
                        <h3>@Model.Headline</h3>
                    }
                    <p class="date-address">
                        <time value="Model.StartDateTime" format="F"></time> - <time value="Model.EndDateTime" format="F"></time>
                        <em>
                            <time-zone-name time-zone-id="@Model.TimeZoneId"></time-zone-name>
                        </em>
                    </p>
                    @if (!string.IsNullOrEmpty(userTimeZoneId) && Model.TimeZoneId != userTimeZoneId)
                    {
                        <p>
                            <time value="Model.StartDateTime" target-time-zone-id="@userTimeZoneId" format="F"></time> - <time value="Model.EndDateTime" format="F" target-time-zone-id="@userTimeZoneId"></time>
                            <em>
                                <time-zone-name time-zone-id="@userTimeZoneId"></time-zone-name>
                            </em>
                        </p>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="row" id="CampaignInfo" data-bind="accordion: { openItem : 0 }">
                <div class="panel-group">
                    <div data-toggle-accordion>
                        <div class="panel-heading col-sm-12" >
                            <h3 panel-title>Campaign Info</h3>
                        </div>
                        <div class="toggle-accordion-icon">
                            <span class="fa fa-caret-down accordion-icon-direction"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 panel-collapse collapse">
                            <div class="col-sm-12">
                                    <h3>Campaign</h3>
                                    <h4>
                                        <a href="@Url.Action("Details", "Campaign", new {id = Model.CampaignId})">@Model.CampaignName</a>
                                    </h4>
                            </div>
                            <div class="col-sm-12">
                                <div class="">
                                    <h3>Campaign Organizer</h3>
                                    <h4>
                                        <a asp-controller="Organization" asp-action="ShowOrganization" asp-route-id="@Model.OrganizationId">@Model.OrganizationName</a>
                                    </h4>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            @*Task Lists*@
            @if (User.Identity.IsAuthenticated)
            {
                @*User Tasks*@
                <div class="row">
                    <div>
                        <div class="col-sm-12">
                            <h3>My Assigned Tasks</h3>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" data-bind="textInput: userTasks.searchTerm" placeholder="Search tasks" />
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: userTasks.showOld }, click: userTasks.showOld.toggle">
                                        <i class="fa" data-bind="css: { 'fa-square-o': !userTasks.showOld(), 'fa-check-square-o': userTasks.showOld }"></i>
                                        Show Closed Tasks
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>

                        @*User Tasks Accordion*@
                        <div class="col-sm-12">
                            <span class="label-warning label no-matching-tasks" data-bind="visible: !filteredUserTasks().filtered().length">No matching tasks.</span>
                            <div class="task-list" id="UserTasksAccordion" data-bind="foreach: filteredUserTasks().filtered().sort(sortStartDateTimeAsc), accordion: { listSource: userTasks }">
                                <div class="panel-group">
                                    <div class="panel panel-default task-panel">
                                        <div class="panel-heading" style="display: none" data-bind="visible: true" role="tab" id="headingOne">
                                            <div class="panel-title">
                                                <div class="toggle-accordion-icon">
                                                    <span class="fa fa-caret-down accordion-icon-direction" data-toggle-accordion></span>
                                                </div>
                                                <div data-toggle-accordion>
                                                    <span class="task-name" data-bind="text: Name, css: { isFull: IsFull }"></span>
                                                    <span class="fa fa-question-circle" data-bind="visible: Description, tooltip: { title: Description, placement: 'top' }" aria-hidden="true"></span>
                                                    <div style="display: inline">
                                                        <span class="label label-success" data-bind="visible: hasAllMatchingSkills, tooltip: { title: 'You have all of the required skills needed for this task!', placement: 'top' }">Match</span>
                                                        <span class="label label-warning" data-bind="visible: !hasAllMatchingSkills() && hasAtLeastOneMatchingSkill(), tooltip: { title: 'You have at least one of the required skills needed for this task!', placement: 'top' }">Match</span>
                                                        <span class="label label-info" data-bind="visible: AssignedVolunteers[0].Status === 'Assigned', tooltip: { title: 'Assigned' }"><span class="fa fa-arrow-right"></span></span>
                                                        <span class="label label-primary" data-bind="visible: AssignedVolunteers[0].Status === 'Accepted', tooltip: { title: 'Accepted' }"><span class="fa fa-thumbs-o-up"></span></span>
                                                        <span class="label label-warning" data-bind="visible: AssignedVolunteers[0].Status === 'Rejected', tooltip: { title: 'Rejected' }"><span class="fa fa-thumbs-o-down"></span></span>
                                                        <span class="label label-success" data-bind="visible: AssignedVolunteers[0].Status === 'Completed', tooltip: { title: 'Completed' }"><span class="fa fa-check"></span></span>
                                                        <span class="label label-danger" data-bind="visible: AssignedVolunteers[0].Status === 'CanNotComplete', tooltip: { title: 'Unable to complete (' + AssignedVolunteers[0].StatusDescription + ')' }"><span class="fa fa-times"></span></span>
                                                        <br />
                                                    </div>

                                                    <div class="btn-group" data-bind="visible: currentStatus !== 'Completed' && currentStatus !== 'CanNotComplete'">
                                                        <button type="button" class="btn btn-default btn-sm" data-bind="visible: currentStatus === 'Accepted', click: $root.changeTaskStatus.bind($data, 'Completed', '')">Mark Complete</button>
                                                        <button type="button" class="btn btn-default btn-sm" data-bind="visible: currentStatus === 'Assigned', click: $root.changeTaskStatus.bind($data, 'Accepted', '')">Mark Complete</button>
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li data-bind="visible: currentStatus === 'Assigned'">
                                                                <a href="#" class="btn btn-default btn-sm" data-bind="click: $root.changeTaskStatus.bind($data, 'Rejected', '')">Reject</a>
                                                            </li>
                                                            <li data-bind="visible: currentStatus === 'Accepted'">
                                                                <a href="#" class="btn btn-default btn-sm" data-bind="click: $root.confirmCannotComplete">Mark Unable to Complete</a>
                                                                <a href="#" class="btn btn-default btn-sm" data-bind="click: $root.confirmUnenrollFromTask">Unenroll</a>
                                                            </li>
                                                            <li data-bind="visible: currentStatus === 'Completed'">
                                                                <a href="#" class="btn btn-default btn-sm" data-bind="click: $root.changeTaskStatus.bind($data, 'Accepted', '')">Undo Mark Complete</a>
                                                            </li>
                                                            <li data-bind="visible: currentStatus === 'CanNotComplete'">
                                                                <a href="#" class="btn btn-default btn-sm" data-bind="click: $root.changeTaskStatus.bind($data, 'Accepted', '')">Undo Mark Cannot Complete</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <br>
                                                    <span class="task-datetime" data-bind="html: DisplayDateTime"></span><br />
                                                </div>

                                                <div class="btn-group" data-bind="visible: currentStatus === 'Completed'">
                                                    <button class="btn btn-default btn-sm" data-bind="click: $root.changeTaskStatus.bind($data, 'Accepted', '')">Undo Complete</button>
                                                </div>

                                                <div class="btn-group" data-bind="visible: currentStatus === 'CanNotComplete'">
                                                    <button class="btn btn-default btn-sm" data-bind="click: $root.changeTaskStatus.bind($data, 'Accepted', '')">Undo Cannot Complete</button>
                                                </div>

                                            </div>
                                        </div>
                                        <div data-bind="attr: {id: 'Task-'+Id}" class="panel-collapse collapse" role="tabpanel">
                                            <div class="panel-body">
                                                <p data-bind="text: Description"></p>
                                                <p data-bind="visible: IsLimitVolunteers, text: VolunteerLimitDisplay"></p>

                                                <div class="row task-skills-container" data-bind="visible: skillsWithIsUser().length" style="display: none">
                                                    <div class="col-sm-12">
                                                        <h5>Needed Skills:</h5>
                                                        <ul data-bind="foreach: skillsWithIsUser">
                                                            <li>
                                                                <span data-bind="text: HierarchicalName"></span>
                                                                <span class="fa fa-question-circle" data-bind="visible: Description, tooltip: { title: Description, placement: 'top' }" aria-hidden="true"></span>
                                                                <span class="label label-success" data-bind="visible: IsUserSkill, tooltip: { title: 'You have this skill!', placement: 'top' }">
                                                                    <span class="fa fa-check" aria-hidden="true"></span>
                                                                    Match
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*Tasks*@
            <div class="row">
                <div class="col-sm-12">
                    <h3>Tasks</h3>
                </div>
                <div class="col-sm-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" data-bind="textInput: tasks.searchTerm" placeholder="Search tasks" />
                        </div>
                        <div class="form-group">
                            <div class="input-group" data-bind="dateRangePicker: tasks.dateInRange, daterangepickerOptions: {  autoUpdateInput: false, locale: { cancelLabel: 'Clear', format: 'L' } }" >
                                <input type="text" class="form-control input-sm" placeholder="On date" data-bind="value: tasks.displayedRange" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: tasks.showOld }, click: tasks.showOld.toggle">
                                <i class="fa" data-bind="css: { 'fa-square-o': !tasks.showOld(), 'fa-check-square-o': tasks.showOld }"></i>
                                Show Closed Tasks
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: tasks.hideFull }, click: tasks.hideFull.toggle">
                                <i class="fa" data-bind="css: { 'fa-square-o': !tasks.hideFull(), 'fa-check-square-o': tasks.hideFull }"></i>
                                Hide Full Tasks
                            </button>
                        </div>
                    </div>
                    <br />
                </div>

                @*Tasks Accordion*@
                <div class="col-sm-12">
                    <span class="label-warning label hide no-matching-tasks" data-bind="css: { hide: tasks.filtered().length }">No matching tasks.</span>
                    <div class="task-list" id="TasksAccordion" data-bind="foreach: filteredTasks().filtered().sort(sortStartDateTimeAsc), accordion: { listSource: tasks }">
                        <div class="panel-group">
                            <div class="panel panel-default task-panel">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <div class="panel-title">
                                        <div class="toggle-accordion-icon">
                                            <span class="fa fa-caret-down accordion-icon-direction" data-toggle-accordion></span>
                                        </div>
                                        <div data-toggle-accordion>
                                            <span class="task-name" data-bind="text: Name, css: { isFull: IsLimitVolunteers && IsFull }"></span>
                                            <span class="fa fa-question-circle" data-bind="visible: Description, tooltip: { title: Description, placement: 'top' }" aria-hidden="true"></span>
                                            <span class="label label-success" data-bind="visible: hasAllMatchingSkills, tooltip: { title: 'You have all of the required skills needed for this task!', placement: 'top' }">Match</span>
                                            <span class="label label-warning" data-bind="visible: !hasAllMatchingSkills() && hasAtLeastOneMatchingSkill(), tooltip: { title: 'You have at least one of the required skills needed for this task!', placement: 'top' }">Match</span>
                                            <br/>
                                            <span data-bind="text: VolunteersRequiredText"></span>
                                            <button class="btn btn-default" data-bind="visible: !IsClosed && IsAllowSignups && $root.isSignedIn, click: $root.signupForTask , attr: { href: '#signup' }">Volunteer</button>
                                            <button class="btn btn-default" data-bind="visible: !IsClosed && IsAllowSignups && !$root.isSignedIn, click: $root.confirmGoToLogin , attr: { href: '#signup' }">Volunteer</button>
                                            <br/>
                                            <span class="task-datetime" data-bind="html: DisplayDateTime"></span><br />
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="attr: {id: 'Task-'+Id}" class="panel-collapse collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <p data-bind="text: Description"></p>
                                        <p data-bind="visible: IsLimitVolunteers, text: VolunteerLimitDisplay"></p>

                                        <div class="row task-skills-container" data-bind="visible: skillsWithIsUser().length" style="display: none">
                                            <div class="col-sm-12">
                                                <h5>Needed Skills:</h5>
                                                <ul data-bind="foreach: skillsWithIsUser">
                                                    <li>
                                                        <span data-bind="text: HierarchicalName"></span>
                                                        <span class="fa fa-question-circle" data-bind="visible: Description, tooltip: { title: Description, placement: 'top' }" aria-hidden="true"></span>
                                                        <span class="label label-success" data-bind="visible: IsUserSkill, tooltip: { title: 'You have this skill!', placement: 'top' }">
                                                            <span class="fa fa-check" aria-hidden="true"></span>
                                                            Match
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-sm-4">
            <div class="row share-buttons">
                <a href="mailto:?subject=Check out this event! '@Model.Title'&body=Check it out at @ViewBag.AbsoluteUrl" title="Share by Email">
                    <img src="~/images/share-email.png">
                </a>
                <a href="http://twitter.com/intent/tweet?text=@("Check out this event! '" + Model.Title + "'")&url=@ViewBag.AbsoluteUrl&via=htbox" title="Share via Twitter">
                    <img src="~/images/share-twitter.png" alt="Share via Twitter" />
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=@ViewBag.AbsoluteUrl" title="Share via Facebook" target="_blank">
                    <img src="~/images/share-fb.png" alt="Share via Facebook" />
                </a>
            </div>
            <div class="row">
                @Html.Partial("_LocationInfo", Model)
            </div>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("_VolunteerModal", Model)

    <!-- CannotComplete Modal -->
    <div class="modal fade" id="CannotCompleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="cantCompleteLabel">
                        Mark <span data-bind="text: Name"></span> as Unable to Complete?
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label data-bind="attr: { 'for': 'notCompleteReason' }">Reason</label>
                        <input type="text" class="form-control" id="notCompleteReason" data-bind="textInput: NotCompleteReason">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bind="click: submit">Unable to Complete</button>
                    <button type="button" class="btn btn-link" data-bind="click: cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_ConfirmModal", Model)

@section scripts {
    @Html.Partial("_EventScripts", Model)
}
