@using System.Security.Claims
@using AllReady.Security
@using AllReady.ViewModels
@using AllReady.ViewModels.Event
@using AllReady.ViewModels.Shared
@model AllReady.ViewModels.Event.EventViewModel

@{
    ViewBag.Title = $"{Model.Title}";
    var userTimeZoneId = User.GetTimeZoneId();
}

<div id="MainView">

    @Html.Partial("_Alert")

    <!-- Body -->
    <div class="row">
        <!-- Column 1 -->
        <div class="col-sm-5">
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <div class="col-sm-2">
                        <h2></h2>
                        <img src="@Model.ImageUrl" class="img-responsive"/>
                    </div>
                }
                <div class="@(string.IsNullOrEmpty(Model.ImageUrl) ? "col-sm-12" : "col-sm-10" )">
                    <h2>@Model.Title</h2>
                    <p class="date-address">
                        <time value="Model.StartDateTime" format="F"></time> - <time value="Model.EndDateTime" format="F"></time>
                        <em>
                            <time-zone-name time-zone-id="@Model.TimeZoneId"></time-zone-name>
                        </em>
                    </p>
                    @if (!string.IsNullOrEmpty(userTimeZoneId) && Model.TimeZoneId != userTimeZoneId)
                    {
                        <p>
                            <time value="Model.StartDateTime" target-time-zone-id="@userTimeZoneId" format="F"></time> - <time value="Model.EndDateTime" format="F" target-time-zone-id="@userTimeZoneId"></time>
                            <em>
                                <time-zone-name time-zone-id="@userTimeZoneId"></time-zone-name>
                            </em>
                        </p>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Campaign</h3>
                    <p>
                        <a href="@Url.Action("Details", "Campaign", new {id = Model.CampaignId})">@Model.CampaignName</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Campaign Organizer</h3>
                    <h4>
                        <a asp-controller="Organization" asp-action="ShowOrganization" asp-route-id="@Model.OrganizationId">@Model.OrganizationName</a>
                    </h4>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-sm-3">

            <div class="row">
                <div class="col-sm-12">
                    @if (!User.IsSignedIn())
                    {
                        if (Model.IsClosed)
                        {
                            <h3>This event is closed</h3>
                        }
                    }
                    else
                    {
                        if (Model.IsClosed)
                        {
                            <h3 data-bind="visible: !enrolled()"> This event is closed</h3>
                        }
                    }
                </div>
            </div>
            <div class="row" data-bind="visible: eventSkillsWithIsUser().length" style="display: none">
                <div class="col-sm-12">
                    <h3>Needed Skills</h3>
                    <ul data-bind="foreach: eventSkillsWithIsUser">
                        <li>
                            <span data-bind="text: HierarchicalName"></span>
                            <span class="fa fa-question-circle" data-bind="visible: Description, tooltip: { title: Description, placement: 'top' }" aria-hidden="true"></span>
                            <span class="label label-success" data-bind="visible: IsUserSkill, tooltip: { title: 'You have this skill!', placement: 'top' }">
                                <span class="fa fa-check" aria-hidden="true"></span>
                                Match
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Column 3 -->
        @Html.Partial("_LocationInfo", Model)

        @if (Model.HasPrivacyPolicy)
        {
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center"><a asp-controller="Organization" asp-action="OrganizationPrivacyPolicy" asp-route-id="@Model.OrganizationId">@Model.OrganizationName Privacy Policy</a></p>
                </div>
            </div>
        }
    </div>
</div>

@if (User.IsSignedIn())
{
    @Html.Partial("_VolunteerModal", Model)
}

@Html.Partial("_ConfirmModal", Model)

@section scripts {
    @Html.Partial("_EventScripts", Model)
}
