@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AllReady.ViewModels.MyEventsResultsScreenViewModel
@{
    ViewData["Title"] = "My Events";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row" data-bind="if: notification.exists">
    <div class="col-md-12">
        <p><strong data-bind="text: notification.message"></strong></p>
    </div>
</div><div class="row">
    <div class="col-md-12">
        @foreach (var campaignEvent in Model.Items) { 
            <div class="collapsible-panel-wrapper">
                <div class="collapsible-panel-header" data-bind="click: function (d, e) { expand(@campaignEvent.Id, d, e) }">@campaignEvent.Title <span class="fa fa-chevron-down"></span></div>
                <div class="collapsible-panel-body" id="event-details-@campaignEvent.Id">
                    <p><em>@campaignEvent.Description</em></p>
                    <p>
                        <button class="btn btn-default btn-xs" data-bind="click: function (d,e) { loadTasks(@campaignEvent.Id) }">Load tasks</button> 
                        <button class="btn btn-default btn-xs" data-bind="click: function(d,e) { unvolunteer(@campaignEvent.Id) }">Un-volunteer</button>
                    </p>
                        <div data-bind="foreach: tasks">
                            <p><strong data-bind="text: name"></strong>: 
                                <select id="taskUpdate" data-bind="options: $parent.statusList, optionsCaption: 'Choose status', value: status"></select>
                                <!-- ko if: status() === 'Cannot complete' -->
                                <input type="text" data-bind="textInput: statusDescription" placeholder="Update the reason why you cannot complete"/>
                                <!-- /ko -->
                            </p>
                        </div>
                        <!-- ko if: tasksLoaded -->
                        <button class="btn btn-default btn-xs" data-bind="click: function (d,e) { updateTasks(@campaignEvent.Id) }">Update</button>
                        <!-- /ko -->
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="~/js/myEvents.js"></script>
}
