@using AllReady.ViewModels.Home
@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutMainPage";
}

@if (Model.HasFeaturedCampaign)
{
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="featured-campaign">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Featured Campaign</h2>
                    </div>
                </div>
                <div class="row">
                    <a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.FeaturedCampaign.Id">
                        @if (!string.IsNullOrEmpty(Model.FeaturedCampaign.ImageUrl))
                        {
                            <div class="col-md-3">
                                <img src="@Model.FeaturedCampaign.ImageUrl" class="img-responsive" />
                            </div>
                                <div class="col-md-9">
                                    <h3>@Model.FeaturedCampaign.Title</h3>
                                    @if(!string.IsNullOrEmpty(Model.FeaturedCampaign.Headline))
                                    {
                                        <p><strong>@Model.FeaturedCampaign.Headline</strong></p>
                                    }
                                    <h4>Managed by @Model.FeaturedCampaign.Organization.Name</h4>
                                    <p>@Model.FeaturedCampaign.Description</p>
                                </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <h3>@Model.FeaturedCampaign.Title</h3>
                                @if (!string.IsNullOrEmpty(Model.FeaturedCampaign.Headline))
                                {
                                    <p><strong>@Model.FeaturedCampaign.Headline</strong></p>
                                }
                                <h4>Managed by @Model.FeaturedCampaign.Organization.Name</h4>
                                <p>@Model.FeaturedCampaign.Description</p>
                            </div>
                        }
                    </a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h2>Active/Upcoming Campaigns</h2>
        </div>
    </div>

    <div class="row">
        @if (Model.Campaigns.Count == 0)
        {
            <div class="text-center">
                <div class="alert alert-warning" role="alert">
                    <strong>No matching campaigns.</strong>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div id="campaignGrid" class="table-responsive">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th><span title="Name of the campaign">Title</span></th>
                            <th><span title="Description of the campaign">Description</span></th>
                            <th><span title="Date of the campaign">Dates</span></th>
                        </tr>
                        @foreach (var campaign in Model.Campaigns)
                        {
                            <tr>
                                <td>
                                    <img src="@campaign.ImageUrl" class="img-responsive" />
                                </td>
                                <td>
                                    @Html.ActionLink(campaign.Name, "Details", "Campaign", new { Id = campaign.Id })
                                </td>
                                <td>
                                    <span>@campaign.Description</span>
                                </td>
                                <td>
                                    <span><time value=@campaign.StartDate format="dddd, MMMM d yyyy"></time> - <time value=@campaign.EndDate format="dddd, MMMM d yyyy"></time></span>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    </div>
}

<div class="container">
    <div class="row">
        <a class="btn btn-success" asp-controller="campaign" asp-action="index">View All Campaigns</a>
    </div>    
</div>