@using AllReady.ViewModels.Home
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="row logo-background">
    <div class="container">
        <div class="center"><img src="~/images/Web-Logo.png" alt="Logo image for the project" class="img-responsive center-block" /></div>
        <h4 class="text-center sub-title">Get connected. Work together. Be prepared.</h4>
    </div>
</div>

@if (Model.IsNewAccount)
{
    <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Your account has been created!</h4>
        Thank you for creating your allReady account.  To continue using allReady we need to confirm your e-mail address and phone number.
        Please check your e-mail and text messages for further instructions or visit your account to request a new confirmation.<br />
        <a asp-controller="Manage" asp-action="Index" class="btn btn-success">Go to Your Account</a>
    </div>
}
<div class="row">
    <div class="container">
        <h2>Active/Upcoming Events</h2>
    </div>
</div>

@if (Model.HasFeaturedCampaign)
{
    <div class="row">
        <div class="container">
            <div class="jumbotron">
                <h2>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    Featured
                </h2>
                <div class="row">
                    <div class="@(string.IsNullOrEmpty(Model.FeaturedCampaign.ImageUrl) ? "col-md-9" : "col-md-12")">
                        <h3>
                            <a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.FeaturedCampaign.Id">
                                @Model.FeaturedCampaign.Title
                            </a>
                        </h3>
                        @if (!string.IsNullOrEmpty(Model.FeaturedCampaign.Headline))
                        {
                            <p><strong>@Model.FeaturedCampaign.Headline</strong></p>
                        }
                        <h4>Managed by @Model.FeaturedCampaign.OrganizationName</h4>
                        <p>@Model.FeaturedCampaign.Description</p>
                        <a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.FeaturedCampaign.Id" class="btn btn-primary btn-lg">
                            View
                        </a>
                    </div>
                    @if (string.IsNullOrEmpty(Model.FeaturedCampaign.ImageUrl))
                    {
                        <div class="col-md-3 hidden-xs hidden-sm">
                            <a asp-controller="Campaign" asp-action="Details" asp-route-id="@Model.FeaturedCampaign.Id">
                                <img src="@Model.FeaturedCampaign.ImageUrl" class="img-responsive" />
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="container">
        @if (Model.ActiveOrUpcomingEvents.Count == 0)
        {
            <div class="text-center">
                <div class="alert alert-warning" role="alert">
                    <strong>No matching campaigns...</strong>
                </div>
            </div>
        }
        else
        {
            @foreach (var ev in Model.ActiveOrUpcomingEvents)
            {
                <div class="panel panel-lister">
                    <div class="panel-body">
                        <div class="row">
                            <div class="@(string.IsNullOrEmpty(ev.ImageUrl) ? "col-md-12" : "col-md-9")">
                                <h4>
                                    <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@ev.Id">
                                        @ev.Name
                                    </a>
                                </h4>
                                <p><b>Campaign :</b> @ev.CampaignName</p>
                                <p><b>Organiser :</b> @ev.CampaignManagedOrganizerName</p>
                                <p>
                                    <time value=@ev.StartDate format="dddd, MMMM d yyyy"></time> - <time value=@ev.EndDate format="dddd, MMMM d yyyy"></time>
                                </p>
                                <p>@ev.Description</p>
                                <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@ev.Id" class="btn btn-primary">
                                    View
                                </a>
                            </div>
                            @if (!string.IsNullOrEmpty(ev.ImageUrl))
                            {
                                <div class="col-md-3 hidden-xs hidden-sm text-center">
                                    <a asp-controller="Event" asp-action="ShowEvent" asp-route-id="@ev.Id">
                                        <img src="@ev.ImageUrl" class="panel-lister-thumb" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
