@using System.Security.Claims
@using AllReady.Security
@model ActivityViewModel

@{
    ViewBag.Title = $"{Model.Title}";
    var userTimeZoneId = User.GetTimeZoneId();
}

<div id="MainView">

    @Html.Partial("_Alert")

    <!-- Body -->
    <div class="row">
        <!-- Column 1 -->
        <div class="col-sm-5">
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <div class="col-sm-2">
                        <h2></h2>
                        <img src="@Model.ImageUrl" class="img-responsive"/>
                    </div>
                }
                <div class="@(string.IsNullOrEmpty(Model.ImageUrl) ? "col-sm-12" : "col-sm-10" )">
                    <h2>@Model.Title</h2>
                    <p class="date-address">
                        <time value="Model.StartDateTime" format="F"></time> - <time value="Model.EndDateTime" format="F"></time>
                        <em>
                            <time-zone-name time-zone-id="@Model.TimeZoneId"></time-zone-name>
                        </em>
                    </p>
                    @if (!string.IsNullOrEmpty(userTimeZoneId) && Model.TimeZoneId != userTimeZoneId)
                    {
                        <p>
                            <time value="Model.StartDateTime" target-time-zone-id="@userTimeZoneId" format="F"></time> - <time value="Model.EndDateTime" format="F" target-time-zone-id="@userTimeZoneId"></time>
                            <em>
                                <time-zone-name time-zone-id="@userTimeZoneId"></time-zone-name>
                            </em>
                        </p>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>@Model.Description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Campaign</h3>
                    <p>
                        <a href="@Url.Action("Details", "Campaign", new {id = Model.CampaignId})">@Model.CampaignName</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Campaign Organizer</h3>
                    <h4>
                        <a asp-controller="Organization" asp-action="ShowOrganization" asp-route-id="@Model.OrganizationId">@Model.OrganizationName</a>
                    </h4>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-sm-3">

            <div class="row">
                <div class="col-sm-12">
                    @if (!User.IsSignedIn())
                    {
                        if (!Model.IsClosed)
                        {
                            if (Model.ActivityType == ActivityTypes.ActivityManaged)
                            {
                                <h2>
                                    <a asp-action="Login" asp-controller="Account" asp-route-ReturnUrl="/Activity/@Model.Id" class="btn btn-primary  btn-volunteer">Volunteer</a>
                                </h2>
                            }
                        }
                        else
                        {
                            <h3>This event is closed</h3>
                        }
                    }
                    else
                    {
                        if (!Model.IsClosed)
                        {
                            if (Model.ActivityType == ActivityTypes.ActivityManaged)
                            {
                                if (Model.IsAllowSignups)
                                {
                                    <h2>
                                        <button class="btn btn-default btn-volunteer" data-bind="visible: !enrolled(), click: signupForEvent" style="display: none">Volunteer<br/> for this event</button>
                                    </h2>
                                }
                                else
                                {
                                    <h2 data-bind="visible: !enrolled()">
                                        This event<br/> is currently full
                                    </h2>
                                }
                            }
                        }
                        else
                        {
                            <h3 data-bind="visible: !enrolled()"> This event is closed</h3>
                        }

                        if (Model.ActivityType == ActivityTypes.ActivityManaged)
                        {
                            <div class="volunteered" data-bind="visible: enrolled()" style="display: none">
                                <div class="text-center">
                                    <h3>You have volunteered<br /> for this event!</h3>
                                    @if (!Model.IsClosed)
                                    {
                                        <p>
                                            <button class="unvolunteer text-center btn btn-default btn-sm" data-bind="click: function() {unenrollFromEvent(@Model.Id);}">Unenroll</button>
                                        </p>
                                        <p>
                                            <span class="label label-danger" data-bind="visible: errorUnenrolling" style="display: none">There was a problem unenrolling; please try again.</span></p>
                                    }
                                    else
                                    {
                                        <p>This event is now closed.</p>
                                    }
                                </div>
                                <div class="text-center" id="enrollUnenrollSpinner" style="display: none">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="row" data-bind="visible: eventSkillsWithIsUser().length" style="display: none">
                <div class="col-sm-12">
                    <h3>Needed Skills</h3>
                    <ul data-bind="foreach: eventSkillsWithIsUser">
                        <li>
                            <span data-bind="text: HierarchicalName"></span>
                            <span class="fa fa-question-circle" data-bind="visible: Description, tooltip: { title: Description, placement: 'top' }" aria-hidden="true"></span>
                            <span class="label label-success" data-bind="visible: IsUserSkill, tooltip: { title: 'You have this skill!', placement: 'top' }">
                                <span class="fa fa-check" aria-hidden="true"></span>
                                Match
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Column 3 -->
        @Html.Partial("_LocationInfo", Model)

        @if (Model.HasPrivacyPolicy)
        {
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center"><a asp-controller="Organization" asp-action="OrganizationPrivacyPolicy" asp-route-id="@Model.OrganizationId">@Model.OrganizationName Privacy Policy</a></p>
                </div>
            </div>
        }
    </div>
</div>

@if (User.IsSignedIn())
{
    @Html.Partial("_VolunteerModal", Model)
}

@Html.Partial("_ConfirmModal", Model)

@section scripts {
    @Html.Partial("_ActivityScripts", Model)
}