@model AllReady.Models.Activity
@{
    ViewData["Title"] = "Tasks List";
}
<div class="row">
    <div class="cold-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>


    <div class="row">
            <div class="col-md-12">
                <div class="collapsible-panel-wrapper">
                    <div class="collapsible-panel-header" data-bind="click: function (d,e) { expand(@Model.Id, d, e) }">@Model.Name <span class="fa fa-chevron-down"></span></div>
                    <div class="collapsible-panel-body">
                        <h4>@Model.Description</h4>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartDateTimeUtc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDateTimeUtc)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in (Model.Tasks.OrderBy(t => t.StartDateTimeUtc).ThenBy(t => t.Name))) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @(item.StartDateTimeUtc != null ? ((DateTime)@item.StartDateTimeUtc).ToShortDateString() : "*")
                                    </td>
                                    <td>
                                        @(item.EndDateTimeUtc != null ? ((DateTime)@item.EndDateTimeUtc).ToShortDateString() : "*")
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Task", new { id = item.Id }, new { @class = "btn" })
                                        @Html.ActionLink("Delete", "Delete", "Task", new { id = item.Id }, new { @class = "btn" })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
            </div>
        </div>
    </div>
}
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Create New", "Create", "Task", null, new { @class = "btn" })
        </div>
    </div>
    @section scripts {
        <script src="~/js/admin/tasks.js"></script>
    }
