@using AllReady.Constants
@using AllReady.Security

@if (User.IsUserType(UserType.SiteAdmin) || User.IsUserType(UserType.OrgAdmin))
{
    //var descriptor = (Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor;
    //var areaName = descriptor.RouteValues["area"]; // there must be a better way to get the area name!
    //var controllerName = descriptor.ControllerName;
    //var isAdmin = areaName == AreaNames.Admin;
    <li class="dropdown dropdown-admin">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Admin <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @if (User.IsUserType(UserType.SiteAdmin))
            {
                <li><a asp-area="@AreaNames.Admin" asp-controller="Organization" asp-action="Index">Organizations</a></li>
            }
            <li><a asp-area="@AreaNames.Admin" asp-controller="Campaign" asp-action="Index">Campaigns</a></li>
            @if (User.IsUserType(UserType.OrgAdmin))
            {
                <li><a asp-area="@AreaNames.Admin" asp-controller="UnlinkedRequest" asp-action="List">Unlinked Requests</a></li>
                <li><a asp-area="Admin" asp-controller="Invite" asp-action="Index">Invites</a></li>
            }
            <li><a asp-area="@AreaNames.Admin" asp-controller="Event" asp-action="Lister">Events</a></li>
            <li><a asp-area="@AreaNames.Admin" asp-controller="Skill" asp-action="Index">Skills</a></li>
            @if (User.IsUserType(UserType.SiteAdmin))
            {
                <li><a asp-area="@AreaNames.Admin" asp-controller="Site" asp-action="Index">Site Admin</a></li>
            }
            <li><a asp-area="@AreaNames.Admin" asp-controller="Import" asp-action="Index">Import Data</a></li>
        </ul>
    </li>
}
