@using System.Security.Claims
@using AllReady.Security

@if (User.IsUserType(UserType.SiteAdmin) || User.IsUserType(UserType.OrgAdmin))
{
    var descriptor = (Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor;
    var areaName = descriptor.RouteValues["area"]; // there must be a better way to get the area name!
    var controllerName = descriptor.ControllerName;
    var isAdmin = areaName == "Admin";
    <li class="dropdown dropdown-admin @(isAdmin? "active":"")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Admin <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @if (User.IsUserType(UserType.SiteAdmin))
            {
                <li @(isAdmin && controllerName == "Organization" ? " class=active" : "")><a asp-area="Admin" asp-controller="Organization" asp-action="Index">Organizations</a></li>
            }
            <li @(isAdmin && controllerName == "Campaign" ? " class=active" : "")><a asp-area="Admin" asp-controller="Campaign" asp-action="Index">Campaigns</a></li>
            <li @(isAdmin && controllerName == "Skill" ? " class=active" : "")><a asp-area="Admin" asp-controller="Skill" asp-action="Index">Skills</a></li>
            @if (User.IsUserType(UserType.SiteAdmin))
            {
                <li @(isAdmin && controllerName == "Site" ? " class=active" : "")><a asp-area="Admin" asp-controller="Site" asp-action="Index">Site Admin</a></li>
                <li class="divider"></li>
                <li @(isAdmin && controllerName == "Import" ? " class=active" : "")><a asp-area="Admin" asp-controller="Import" asp-action="Index">Import Data</a></li>
            }
        </ul>
    </li>

}
