@using AllReady.ViewModels.Campaign
@model CampaignViewModel

<div class="row">
    <div id="col-main">
        <div class="col-md-9">
            <h2>
                @if (Model.Featured)
                {<i class="fa fa-star star-highlight" aria-hidden="true"></i>} @Model.Name
            </h2>
        </div>
        <div class="col-md-3 share-buttons">
            <a href="mailto:?subject=Check out @Model.Name&body=Check it out at @ViewBag.AbsoluteUrl" title="Share by Email">
                <img src="~/images/share-email.png">
            </a>
            <a href="http://twitter.com/intent/tweet?text=@("Check out this campaign! '" + Model.Name + "'")&url=@ViewBag.AbsoluteUrl&via=htbox" title="Share via Twitter">
                <img src="~/images/share-twitter.png" alt="Share via Twitter" />
            </a>
            <a href="http://www.facebook.com/sharer/sharer.php?u=@ViewBag.AbsoluteUrl" title="Share via Facebook" target="_blank">
                <img src="~/images/share-fb.png" alt="Share via Facebook" />
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.HasHeadline)
        {
            <h3>@Model.Headline</h3>
        }
        <p class="date-address">
            <time value="Model.StartDate" format="D"></time> - <time value="Model.EndDate" format="D"></time>
            <em><time-zone-name time-zone-id="@Model.TimeZoneId"></time-zone-name></em>
        </p>
        <p>@Model.LocationSummary</p>
    </div>
</div>

<div class="row">
    <div id="col-main" class="col-md-8">
        @if (!string.IsNullOrEmpty(Model.ExternalUrl))
        {
            <a href="@Model.ExternalUrl" target="_blank">@(string.IsNullOrWhiteSpace(Model.ExternalUrlText) ? Model.ExternalUrl : Model.ExternalUrlText) <i class="fa fa-external-link"></i></a>
        }
        <hr />
        @if (!String.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="row">
                <img src="@Model.ImageUrl" class="img-responsive" />
            </div>
            <hr />
        }

        @Html.Raw(Model.FullDescription)
    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <div class="campaign-sponsor">
            <strong><a asp-controller="Organization" asp-action="ShowOrganization" asp-route-id="@Model.ManagingOrganizationId" style="font-size:20px">@Model.ManagingOrganizationName</a></strong>
            <div><img src=@Model.ManagingOrganizationLogo alt="" img width="260" /></div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <h3>Events for this Campaign</h3>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" data-bind="textInput: events.searchTerm" placeholder="Search events" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: events.showOld }, click: events.showOld.toggle">
                        <i class="fa" data-bind="css: { 'fa-square-o': !events.showOld(), 'fa-check-square-o': events.showOld }"></i>
                        Show Closed Events
                    </button>
                    <span data-bind="text: '(' + total + ')' "></span>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="col-sm-12">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control input-sm" data-bind="textInput: events.searchTerm" placeholder="Search events" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: events.showOld }, click: events.showOld.toggle">
                    <i class="fa" data-bind="css: { 'fa-square-o': !events.showOld(), 'fa-check-square-o': events.showOld }"></i>
                    Show Closed Events
                </button>
            </div>
        </div>
    </div>*@

<div class="row">
    <div class="hide text-center" data-bind="css: { hide: events.filtered().length }">
        <div class="alert alert-warning" role="alert">
            <strong>No matching events.</strong>
        </div>
    </div>

    @if (Model.CampaignGoals.Any(i => i.Display))
    {
        <div class="col-sm-4 col-md-3">
            @foreach (var campaignGoal in Model.CampaignGoals)
            {
                if (campaignGoal.Display)
                {
                    @Html.Partial("_CampaignGoal", campaignGoal)
                }
            }
        </div>
        @Html.Raw(@"<div class=""col-sm-8 col-md-9"">") <!-- starts the events table div at partial width when displaying campaign goal-->
    }
    else
    {
        @Html.Raw(@"<div class=""col-md-12"">") <!-- starts the events table div at full width when no campaign goal-->
    }
    <div class="table-responsive">
        <table class="table" data-bind="css: { hide: !events.filtered().length }">
            <tr>
                <th><span title="Name of the event">Title</span></th>
                <th><span title="Description of the event">Description</span></th>
                <th><span title="Event Location">Location</span></th>
                <th><span title="Date of the event">Dates</span></th>
            </tr>
            <!-- ko foreach: events.filtered -->
            <tr>
                <td>
                    <a data-bind="attr: { href: '/Event/' + Id }, text: Name"></a>
                </td>
                <td>
                    <span data-bind="text: Description"></span>
                </td>
                <td>
                    <span data-bind="text: Location ? Location.Summary : '' "></span>
                </td>
                <td>
                    <span data-bind="text: displayDate()"></span>
                </td>
            </tr>
            <!-- /ko -->
        </table>
    </div>
    @Html.Raw(@"</div>") <!-- closes the events table div -->
</div>


<div class="row">
    <div class="col-sm-12" data-bind="if: resources && resources.length > 0">
        <h3>Resources for this campaign</h3>
    </div>
    <div class="col-md-12 text-center" data-bind="if: resources && resources.length > 0">
        <div class="event-results">
            <div class="event-wrapper" data-bind="foreach: resources">
                <p><label data-bind="text: Name"></label></p>
            </div>
        </div>
    </div>
</div>

@if (Model.HasPrivacyPolicyUrl)
{
    <div class="row">
        <div class="col-md-12">
            <p class="text-center"><a href="@Model.PrivacyPolicyUrl" target="_blank">@Model.ManagingOrganizationName Privacy Policy</a></p>
        </div>
    </div>
}
else if (Model.HasPrivacyPolicy)
{
    <div class="row">
        <div class="col-md-12">
            <p class="text-center"><a asp-controller="Organization" asp-action="OrganizationPrivacyPolicy" asp-route-id="@Model.ManagingOrganizationId">@Model.ManagingOrganizationName Privacy Policy</a></p>
        </div>
    </div>
}
