@using Microsoft.AspNetCore.Mvc.Rendering

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - allReady</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,100" rel="stylesheet" type="text/css" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-toggle/css/bootstrap-toggle.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-tagsinput/src/bootstrap-tagsinput.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-daterangepicker/daterangepicker.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
              asp-fallback-href="~/lib/bootstrap-toggle/css/bootstrap-toggle.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css"
              asp-fallback-href="~/lib/fullcalendar/dist/fullcalendar.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-daterangepicker/daterangepicker.css" />
    </environment>

    @RenderSection("styles", required: false)

    <script type="text/javascript">
        var htbox = htbox || {};
        htbox.allReady = htbox.allReady || {};
        htbox.allReady.map = htbox.allReady.map || {};
        htbox.allReady.init = htbox.allReady.init || {};
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-page="/Index" class="navbar-brand"><img src="~/images/Web-Logo-small.png" alt="Web Logo" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Campaign" asp-action="Index">Campaigns</a></li>
                        <li><a asp-area="" asp-controller="Organization" asp-action="Index">Organizations</a></li>
                        <li><a asp-page="/About">About</a></li>
                        @await Html.PartialAsync("_AdminNavigationPartial")
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_Footer")
    @await Html.PartialAsync("_Version")
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.js"></script>
        <script src="~/lib/knockout/build/output/knockout-latest.debug.js"></script>
        <script src="~/lib/moment/min/moment-with-locales.js"></script>
        <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/tota11y/build/tota11y.js"></script>
        <script src="~/lib/tinymce/tinymce.js"></script>
        <script src="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
        <script src="~/lib/d3/d3.js"></script>
        <script src="~/lib/jquery.maskedinput/src/jquery.maskedinput.js"></script>
        <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="//gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"
                asp-fallback-src="~/lib/bootstrap-toggle/js/bootstrap-toggle.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.bootstrapToggle">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"
                asp-fallback-src="~/lib/moment/min/moment-with-locales.js"
                asp-fallback-test="window.moment">
        </script>
        <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"
                asp-fallback-src="~/lib/tinymce/tinymce.js">
        </script>
        <script src="//d3js.org/d3.v3.min.js"
                asp-fallback-src="~/lib/d3/d3.js">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"
                asp-fallback-src="~/lib/jquery.maskedinput/dist/jquery.maskedinput.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.mask">
        </script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"
                asp-fallback-src="~/lib/fullcalendar/dist/fullcalendar.js">
        </script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    </environment>
    <script src="~/lib/knockout-bootstrap/src/knockout-bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ko.filterableList.js" asp-append-version="true"></script>
    <script src="~/js/ko.validation.js" asp-append-version="true"></script>
    <script>

        $(function () {
            $(".datepicker").datetimepicker({
                format: 'L',
                showClose: false,
                toolbarPlacement: 'bottom'
            });
            $(".datepicker").each(function (index, element) {
                $(element).data("DateTimePicker").date(moment($(element).attr("value")));
            });
            var language = '@System.Globalization.CultureInfo.CurrentCulture';
            $(".datetimepicker").datetimepicker({
                format: 'L LT',
                showClose: false,
                sideBySide: true,
                toolbarPlacement: 'bottom',
                locale: language
            });
            $(".datetimepicker").each(function (index, element) {
                if ($(element).attr("min")) {
                    $(element).data("DateTimePicker").minDate($(element).attr("min"));
                }
                if ($(element).attr("max")) {
                    $(element).data("DateTimePicker").maxDate($(element).attr("max"));
                }

                $(element).data("DateTimePicker").date(moment($(element).attr("value")));
            });
            tinymce.init({
                selector: '.wysiwyg',
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste imagetools"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image",
                autosave_ask_before_unload: false
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
