@inject Microsoft.Framework.Configuration.IConfiguration Config
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right"></form>
        <li>
            <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:showLock()">Log in</a></li>
    </ul>
    <script src="https://cdn.auth0.com/js/lock-7.5.min.js"></script>
    <script>
        var lock = new Auth0Lock('@Config.Get("Authentication:Auth0:ClientId")', '@Config.Get("Authentication:Auth0:Domain")');
        function showLock() {
            $.post('@Url.Action("Prepare", "Account")', { '.redirect': window.location.pathname }, function (data) {
                lock.show({
                    callbackURL: window.location.origin + '@Url.Action("Callback", "Account")',
                    authParams: {
                        nonce: data.nonce,
                        state: data.state,
                        scope: 'openid email name',
                        response_mode: 'form_post',
                        response_type: 'token'
                    }
                });
            });
        }
    </script>
}